.article_code{
    /*border-top:2px dotted #d1283b;*/
    border-bottom:2px dotted #ef9e9e ;
    /*-moz-box-shadow:0 -2px 0 #d1283b inset;
    -webkit-box-shadow:0 -2px 0 #d1283b inset;*/
}
.folder_code{
    /*border-top:2px dotted #ff910f;*/
    border-bottom:2px dotted #ffc888;
    /*-moz-box-shadow:0 -2px 0 #ff910f inset;
    -webkit-box-shadow:0 -2px 0 #ff910f inset;*/
}
.generic_code{
    /*border-top:2px dotted #a2b0de;*/
    border-bottom: 2px dotted #a2b0de;
    /* -moz-box-shadow:0 -2px 0 #5975d0 inset;
    -webkit-box-shadow:0 -2px 0 #5975d0 inset;*/
}


.grey_back1{
    background: #85868b;
}

.grey_back2{
    background: #273236;
}
.orange_back1{
   background: #ffc03d;
}
.red_back1{
    background: #a60304;
}