div#extrainfo-position{
    width: 284px;
    margin-right: -284px;
    float: left;
    padding-top:2em;
    background:#EAEAEA;

}

div.noextrainfo div#extrainfo-position{
    display: none;
}


div#extrainfo {
    padding: 1em;
    margin-top:2.5em;
}