div#iesucks{
    height:64px;
    width:400px;
    background: url(../images/icons/ie.png) no-repeat top left;
    position:absolute;
    margin-left:500px;
    display: none;
}
div#iesucks p{
    font-family:Verdana;
    font-size:1em;
    font-weight: normal;
    margin-left:70px;
}
div#iesucks a{
    color:#ffa800;}
div#iesucks a:hover{
    color:gray;
}