div#logo{
    float: left;
    height:190px;
    width:500px;
}


div#logo div#log-text{
    position:relative;
    top:132px;
    left:385px;
    width:630px;
    overflow:visible;

}


div#logo div#logo-left{
    position:absolute;
}
div#logo span{
    text-shadow:2px 2px 2px rgba(0,0,0,0.5);
}

