div#page {
    min-height:1156px;
    text-align: left;
   
}

div#page-wrapper{
    width:900px;
    margin: 0 auto 0 auto;
}

div#page-width1, div#page-width2, div#page-width3
{
    position: relative;
}

div#page-width1, div#page-width2, div#page-width3, div#page-width4, div#page-width5, div#page-width7
{
    margin: 0 auto;
    text-align: left;
    width: 100%;
}