div#path{
    font-size: 1em;
    color: white;
    height:20px;
    padding:0.3em  1em 1em;
    clear: both;
    font-weight: bold;
    background: rgba(0,0,0,0.2);
}

div#path p {
    margin-left: 1em;
}

div#path a{
    text-decoration: none;
    background-position: left bottom;
    padding: 0 0 1px 0;
    margin-right: 4px;
}

div#path img.path-separator{
    display: block;
    font-weight:bold;
    float: left;
    margin-right: 4px;
    position:relative;
    top:-8px;
}
div#path a:hover{
    color:white;
}