div.registration-form,div.user-success{
    padding:2.5em;
}

div.user-success{
     margin:2.5em;
}

div.registration-form p{
   font-weight: bold;
   margin-bottom:3em;
   color:red;
   font-size:0.9em;
}


div.registration-form h1,div.registration-form h4,div.registration-form h1,div.registration-form h2{
}

div.registration-form h4{
    float:left;
    margin-right:1em;
    width:35%;
    font-size:1.2em;
}

div.registration-form div.block input{
    width:60%;
    float:right;
  }


div.registration-form div.block div.ezcca-edit-image input{
       width:100%;
       float:none;
       height:auto;
       padding:0;
}

div.registration-form div.block div.ezcca-edit-image input.button-disabled{
    width:auto;
}

div.registration-form div.left-column{
    float:left;
    width:60%;
    padding-right:5%;
}

div.registration-form div.right-column{
    float:right;
    width:30%;
    padding:1.5em;
    background:#EAEAEA;
}

div.registration-form div.password_field{
    position:absolute;
    visibility: hidden;
}


.password_strength{
    color:white;
    font-weight: bold;
    float:right;
    height:20px;
    position:absolute;
    margin-left:200px;
    margin-top:27px;
    padding-left:10px;
    width:20%;
}

div.registration-form a.optional_field{
    font-size:1.2em;
    font-weight: bold;
    background: rgba(0,0,0,0.5) url(../images/props/down_triangle.png) no-repeat center right;
    display:block;
    width:200px;
    padding:1em;
    color:white;
    
}


div.registration-form a.optional_field:hover{
    color:#ffa800;
}
div.registration-form div.optional{
    padding:1.5em;
}

.password_strength_1{
    background:red;

}
.password_strength_2{
    background:#ff6e6e;
 }
.password_strength_3{
    background: #ff910f;
}
.password_strength_4{
    background: #cdff98;
    color:black;
 }
.password_strength_5{
    background: #4abd38;
}

