/* 
    Document   : headers
    Created on : Jul 20, 2009, 9:26:57 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


div.attribute-header h1
{
    font-size: 1.8em;
    font-weight: normal;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 25px;
    color: #000000;
    margin-bottom: 0;
}

div.attribute-header h1.long
{
    font-size: 1.8em;
    font-weight: normal;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 25px;
    color: #000000;
    margin-bottom: 0;
}
