/* 
    Document   : icons
    Created on : Jul 20, 2009, 9:27:31 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



.attribute-tipafriend a, .attribute-pdf a, .attribute-print a, .attribute-rss a
{
    padding-left: 22px;
    background-position: left top;
    background-repeat: no-repeat;
}

.attribute-tipafriend a
{
    background-image: url('../images/icons/tip_icon.gif');
}

.attribute-pdf a
{
    background-image: url('../images/icons/pdf_icon.gif');
}

.attribute-print a
{
    background-image: url('../images/icons/print_icon.jpg');
}

.attribute-rss a
{
    background-image: url('../images/icons/rss_icon.gif');
}