/* 
    Document   : maps
    Created on : Jul 20, 2009, 9:29:10 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



div.context-toolbar div.block div.right
{
    text-align: right;
}

/* SITEMAP */

div.content-view-sitemap table td
{
    vertical-align: top;
}

div.content-view-sitemap ul
{

}

div.content-view-sitemap ul
{
    padding: 0;
    margin: 0.75em 0 1em 0;
}

div.content-view-sitemap ul ul
{
    margin: 0.3em 0 0.5em 12px;
}

div.content-view-sitemap ul
{
    list-style-type: none;
}

div.content-view-sitemap ul li
{
    margin: 0 0 0.5em 2em;
    padding: 0 0 0 14px;
    background-image: url(../images/sidemenu_bullet.png);
    background-repeat: no-repeat;
    background-position: 0 0.3em;
    line-height: 1.25em;
}

/* Tag Cloud */

div.content-view-tagcloud
{
    text-align: center;
}
