/* 
    Document   : video.css
    Created on : Aug 25, 2009, 9:27:50 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div.content-view-full div.class-flash{}
div.content-view-full div.class-flash div.attribute-short{
    float:left;
    width:50%;
}
div.content-view-full div.class-flash div.content-media{float:left;
margin-right:2em;}