/* 
    Document   : menu
    Created on : Jul 21, 2009, 8:52:40 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* PROF MENU*/
ul.menu_indent{
    position:relative;
    left:1em;
}


div#prof_menu{
    float:left;
    padding:1em;
    width:10%;
}

div#sidemenu form{
    background:#e7e7e7;
    padding-bottom:1em;
    padding-left:0.2em;
}

/* School Menu */
/*reset layout*/

div#header div#school_menu div.schoolmenu-design{
      
}

div#header div#school_menu{
    margin-left:auto;
    margin-right:auto;
    height:auto;
    position:relative;
    top:2em;
    width:910px;
}

div #header div#school_menu li {
    float:left;
    display:block;
    padding-right:0.25em;
    padding-left:0.25em;
    margin-left:0;
    margin:0;
    }



div #header div#school_menu li.current{
    clear:both;
}


div#header div#school_menu li.micro_tabs span{
    color:#737373;
    font-size:1em;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}


div#header div#school_menu li a {
    display: block;
    margin: 0;
    text-decoration: none;
    font-weight:normal;
    height:120px;
    width:120px;
    text-align:center;
}

div#header div#school_menu li a.sch_button img,div#header div#school_menu li a.macro_button img{
    clear:both;
    padding:0;
    border:none;
    margin-top:7px;
    }

div#header div#school_menu ul{
    float:left;
    padding-bottom:2em;
}

div#header div#school_menu span{
    color:#737373;
    font-size:1em;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}


div#header div#school_menu  span.sch_name{
display:block;
width:109px;
height:21px;
background:url(../images/decorazioni/back_highlight.png);
position:relative;
top:-2em;
color:white;
font-weight:bold;
font-size:1.1em;
}

div#header div#school_menu div.subtree_title{
    float:left;
    width:5em;
    text-align:left;
    font-size:4em;
    font-weight:bold;
    margin-top:0.3em;
}

div#header div#school_menu ul.top_school_big{
    float:left;
    padding-bottom:4em;
}

div#header div#school_menu ul.top_school_big div.subtree_title{
    width:7em;
    height:2em;
    margin:0;
    overflow:visible;
}




div#header div#school_menu li.micro_tabs{
    float:right;
    margin:0;
    padding:0.1em;
    clear:right;
    border-bottom:2px solid;
    margin-bottom:0.4em;
    position:relative;
    left:7em;
    }

div#header div#school_menu li.micro_tabs:hover span{
   color:#b3b3b3;
    }


div#header div#school_menu li.micro_tabs a{
    width:105px;
    height:auto;
}
div#header div#school_menu li a img {
    border:none;
    margin-top:7px;
}
div#header div#school_menu li a:link, div#school_menu li a:visited {
    color: black;
    display: block;
    /*padding: 8px 0 0 10px;*/
}
div#header div#school_menu a.button_small:hover span.sch_name{
    color:white;
}

div#header div#school_menu a.sch_button{
    background:url(../images/decorazioni/sch_button_back.png) no-repeat;
}
div#header div#school_menu a.sch_button:hover{
    background:url(../images/decorazioni/sch_button_back_hover.png) no-repeat;
    }
div#header div#school_menu a.sch_button_big{
    background:url(../images/decorazioni/sch_button_back_big.png) no-repeat;
    height:150px;
    width:150px;
    float:left;
}
div#header div#school_menu li.current a.sch_button{
    background:url(../images/decorazioni/back_sch_button_over.png) no-repeat;}
div#header div#school_menu a.macro_button{
    background:url(../images/decorazioni/sch_button_macro.png) no-repeat;
}
div#header div#school_menu a.macro_button:hover{
    background:url(../images/decorazioni/sch_button_macro_hover.png) no-repeat;
}
div#header div#school_menu a.macro_button_big{
    background:url(../images/decorazioni/sch_button_macro_big.png) no-repeat;
    height:148px;
    width:150px;
    float:left;
}
div#header div#school_menu li.current a.macro_button{
    background:url(../images/decorazioni/back_macro_button_over.png) no-repeat;}
/* SIDE MENU */


div#sidemenu-position
{
background-color:white;
width: 16em;
margin-left: -16em;
float: left;
display: inline; /* Fix for IE double margin bug */
}
div.nosidemenu div#sidemenu-position
{
display: none;
}

div#sidemenu
{
padding:1em;
margin:1em;
background:#e7e7e7;
min-height:40em;
}

div#sidemenu  div.border-box
{
padding:0;
background:white;
overflow:hidden;
}

div#sidemenu span{
    float:right;
    font-family:arial;
    font-weight:bold;
    font-size:1.2em;
}

div#sidemenu h4
{
font-size:1em;
margin: 0;
background:url(../images/decorazioni/violet_back.png);
width:100%;
height:2.5em;
color:white;
padding-top:0.2em;
}

div#sidemenu h4:before{
    content:':: ';
}

div#sidemenu h2.header{
    color:white;
    text-align:left;
    font-weight:bold;
    font-size:2em;
}

div#sidemenu ul
{
list-style-type: none;
margin: 0;
}
div#sidemenu ul li
{
margin:0;
padding: 0;
list-style-type: none;
list-style-image: none;
background-image: none;
color:white;
}

div#sidemenu ul.submenu-list{}
div#sidemenu div.first_level_menu{
    height:2.5em;
}

div#sidemenu a{
    font-weight: bold;
}

div#sidemenu ul.menu-list li a.parent-menu{
    background:gray;
    padding-left:0.5em;
}

div#sidemenu h4 a{
color: #525345;
text-decoration: none;
}

div#sidemenu ul.menu-list li a{
     height:100%;
     line-height:2em;
     vertical-align:middle;
     text-decoration:none;
}

div#sidemenu ul.menu-list li div.first_level_menu a.selected,div#sidemenu ul.menu-list li div.first_level_menu a.current
{
    background:#BFCDFF;
    color:white;
     }

div#sidemenu ul.submenu-list a.selected,div#sidemenu ul.submenu-list a.current
{
    background:#BFCDFF;
    color:white;
    font-weight:bold;
}
div#sidemenu li div.first_level_menu a:hover{
    background:#BFCDFF;}
div#sidemenu li div.first_level_menu a{
    font-size:1.1em;
    padding-left:0.5em;
    background:#B1B1B1;
}
div#sidemenu li a.selected:before{
   margin-right:0.25em;
}
div#sidemenu  ul li div.second_level_menu a{
    font-size:0.9em;
    padding-left:1em;
    color:#B1B1B1;
    background:white;
}

div#sidemenu li div.second_level_menu a:hover{
    color:#BFCDFF;
}
div#sidemenu li div.third_level_menu a:hover{
    color:#949494;
}
div#sidemenu  li div.third_level_menu a{
    font-size:0.8em;
    padding-left:2em;
    color:gray;
   }
div#sidemenu  li div.third_level_menu a:hover{
       color:#00aec3;
       text-shadow: 2px 2px 8px #79b2d7;
}
div#sidemenu  li div.fourth_level_menu:hover{
    color:#949494;
}
div#sidemenu  li div.fourth_level_menu a{
    font-size:0.7em;
    padding-left:3em;
    color:gray;
   }

div#sidemenu  li a, div#sidemenu  li a
{
    display: block;
    color:white;
}

div#sidemenu select.select_prof{
    width:11em;
    margin-top:1em;

}