/* 
    Document   : misc
    Created on : Jul 21, 2009, 8:59:06 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/*clear cache*/
a.clear_cache_button{
padding:1em;
background-color:orange;
color:black;
float:right;
font-weight:bold;
}

.first_ch{color:#c42323;}

.dark{
    background:#d2d2d2;
    overflow:hidden;}

.light{
 background:#ececec;
 overflow:hidden;}

div.sortbuttons{margin-top:1em;
margin-bottom:2em;}
div.sortbuttons a{
color:white;
cursor:crosshair;
background:gray;
padding:0.3em;
}
div.sortbuttons a:hover{
    color:#cdcdcd;
}

div.sortbuttons h4{
    float:left;
    margin-right:1em;
}
