/* 
    Document   : registration
    Created on : Jul 21, 2009, 8:55:49 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



/*REGISTRATION PAGE*/

div.selection_box{
   margin-left:auto;
   margin-right:auto;
   width:50%;
}
div.selection_gen{
    float:left;
    height:7em;
    width:13em;
    margin:2em;
    text-align:center;
    background:#89b4bd;
    border:2px solid #557d87;
}
div.selection_gen a { display:block;
    height:100%;
    width:100%;
    font-size:1.5em;
    font-weight:bold;
    color:white;
    padding-top:1.8em;}
div#selection_alunni{}
div#selection_professori{}
div#selection_ata{}
div#selection_genitori{}

div.ezcca-edit-geolocation{

}
div.ezcca-edit-geolocation select{
    margin-left:1em;
    margin-top:1em;
}
div.left-column div.separator{
    width:100%;
    border-bottom:2px solid #c1c1c1;
    height:1em;
}