/* 
    Document   : article
    Created on : Dec 6, 2009, 8:25:34 PM
    Author     : mosa
    Description:
    article embed view
*/
div.content-view-embed div.class-article div.attribute-short
{
    font-weight: normal;
}