/* 
    Document   : print
    Created on : Dec 6, 2009, 8:16:44 PM
    Author     : mosa
    Description:
    print attribute style
*/
.attribute-print a
{
    background-image: url('../images/icons/print_icon.jpg');
}
