/* 
    Document   : rss
    Created on : Dec 6, 2009, 8:17:09 PM
    Author     : mosa
    Description:
    rss attribute style
*/

.attribute-rss a
{
    background-image: url('../images/icons/rss_icon.gif');
}