/* 
    Document   : article
    Created on : Jul 20, 2009, 9:31:20 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


div.content-view-line div.class-article{
   padding-bottom:1em;
   padding-top:1em;
   float:left;
   clear:both;
   overflow:hidden;
   width:100%;
   }
div.content-view-line div.class-article div.attribute-image{
    padding-right:1em;
    padding-bottom:1em;
    float:left;
}

div.content-view-line div.class-article-mainpage h2{
    background:#e0e0e0;
    padding:0.3em;
}

div.content-view-full div.class-article-mainpage div.attribute-short
{
    font-weight: bold;
}

div.content-view-line div.class-article-mainpage div.attribute-short
{
    font-weight: normal;

}

div.content-view-full div.class-article-mainpage div.attribute-header h1
{
    background: none;
    padding-bottom: 0;
    margin-bottom: 0.25em;
}

div.content-view-full div.class-article-mainpage div.attribute-byline
{
    background-image: url(../images/attribute_header_bg_medium.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    margin-bottom: -0.25em;
    display: block;
}

div.content-view-full div.class-article-mainpage div.pagenavigator
{
    background-image: url(../images/attribute_header_bg_medium.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 56px;
}

div.content-view-line div.class-article h2,div.content-view-line div.class-article-mainpage h2{
    padding:0.5em;
}
div.content-view-line div.class-article a,div.content-view-line div.class-article-mainpage a{
    color:#ffa800;
    text-decoration:none;
}
div.content-view-line div.class-article a:hover,div.content-view-line div.class-article-mainpage a:hover{
    color:gray;
}
div.content-view-line div.class-article-mainpage{
    border-bottom:2px solid gray;
    padding-bottom:1em;
    padding-top:1em;
float:left;
clear:both;
overflow:hidden;}

div.content-view-line div.class-article-mainpage div.attribute-short
{
    font-weight: normal;
}

div.attribute-article-index
{
    float: right;
    clear: right;
    width: 14em
}

div.class-article h2{
    background:#e0e0e0;
    padding:0.3em;
}

div.content-view-full div.class-article div.attribute-image{
    padding-right:1em;
    padding-bottom:1em;
    float:right;
}

