/* 
    Document   : gruppi.css
    Created on : Jul 21, 2009, 8:52:08 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/*circolari*/
div.class-folder_circolari{
}
div.class-folder_circolari div.main-column-position{
    width:80%;
    margin-right:3%;
}
div.class-folder_circolari div.extrainfo-column-position{
}
/*gruppo classi*/

div.content-view-line div.class-classe{  clear:none;
                                         float:left;
                                         height:5em;
                                         width:5em;
                                         overflow:hidden;
                                         text-align:center;
                                         margin-right:1em;
                                         background:#ebefff;

}
ul.corso_blocco li div.content-view-line div.class-classe h2 a{
    color:white;
}
div.class-classgroup{
    padding-right:2em;
}
div.class-classgroup ul.corso_blocco{
    display:block;
    float:left;
    clear:both;
}
div.class-classgroup ul.corso_blocco li{
    float:left;
}
div.class-classgroup ul.corso_blocco li.list_header{
    width:6em;
    height:6em;
}

/*macroaree*/
.break{clear:both;}
div.macro_block{
    float:left;
    width:126px;
    padding:1em;
}
div.class-macroarea{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    }
div.macro_block h2 {

    text-align:center;
}


/*gruppo professori line*/

div.content-view-line div.class-proffolder{}
div.content-view-line div.class-proffolder div.prof-icon{
    width:85px;
    height:85px;
    background:url(../images/icons/prof-icon.png) no-repeat center;
    float:left;
}
div.content-view-line div.class-proffolder h4{
    float:left;
    width:15em;
    height:85px;
    border-right:4px solid gray;
}
div.content-view-line div.class-proffolder h4 a{
    position:relative;
    top:2em;
}
div.content-view-line div.class-proffolder div.attribute-short{
    float:left;
    width:25%;
    text-align:center;
    vertical-align:middle;
    height:85px;
    border-right:4px solid gray;
}
div.content-view-line div.class-proffolder div.attribute-short span{
    position:relative;
    top:2em;
    font-weight:bold;
    font-size:1.1em;
}

div.content-view-full div.class-profgroup div.show_all{
    float:left;
    margin-left:1em;
    padding:0.5em;
    background:gray;
    
}
div.content-view-full div.class-profgroup div.show_all a{color:white;
font-weight:bold;}
div.content-view-full div.class-profgroup select{float:left;}
div.content-view-full div.class-profgroup input{float:left;}

div.content-view-full div.class-profgroup div.content-view-line{
    float:left;
    clear:both;
    width:100%;
    height:85px;

}
div.content-view-full div.class-profgroup div.legend{
    width:100%;
    clear:both;
    padding-left:100px;
    margin-bottom:2em;
    overflow:hidden;
    padding-top:0.5em;
    height:2em;
    background:#b6b3b9;
    color:white;

}
div.content-view-full div.class-profgroup div.legend div{float:left;
                                                         width:25%;
                                                         font-weight:bold;
                                                         overflow:hidden;
}
div.content-view-full div.class-profgroup div.dark,div.light{
    margin-bottom:1em;
}


/*prof folder*/
div.localmenu{
    width:80%;
    float:left;

}
div.local_side_menu{
    float:left;
    width:19%;
}

div.class-folder_professore div.content-view-children div.content-view-line{
    clear:none;
}
/*folder*/
div.class-folder div.content-view-children div.content-view-line{
    clear:none;
}
div.folder_color_1{
    background:#d6e3c6;
}
div.folder_color_2{
    background:#d4dfb1;
}
div.folder_color_3{
    background:#bcc7c9;
}
div.folder_color_4{
    background:#f4f4f4;
}
div.content-view-line div.class-folder{
    width:9em;
    height:8em;
    margin-right:1.5em;
    float:left;
    clear:none;
    text-align:center;
    overflow:hidden;
    margin-top:1em;
}

div.content-view-line div.class-folder h2{
    font-size:1.1em;
    padding-top:1em;
}

