/* 
    Document   : user.css
    Created on : Jul 20, 2009, 9:37:47 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



div.user-edit div.attribute-header h1
{
    font-size: 1.8em;
    font-weight: normal;
    background-image: url(../images/attribute_header_bg_long.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    color: #000000;
    margin-bottom: -0.25em;
}