/* 
    Document   : misc
    Created on : Jul 21, 2009, 8:59:06 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/*clear cache*/
a.clear_cache_button{ padding:1em;
background-color:orange;
color:black;
float:right;
font-weight:bold;
}

.first_ch{color:#c42323;}

.dark{
    background:#d2d2d2;
    overflow:hidden;}

.light{
 background:#ececec;
 overflow:hidden;}

.shadow{
        -moz-box-shadow:3px 3px 8px rgba(196,196,196,0.8);
        -webkit-box-shadow:3px 3px 8px rgba(196,196,196,0.8);
        -o-box-shadow:3px 3px 8px rgba(196,196,196,0.8);
         -khtml-box-shadow:3px 3px 8px rgba(196,196,196,0.8);
        box-shadow:3px 3px 8px rgba(196,196,196,0.8);
    }
    .shadowmore{
        -moz-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
        -webkit-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
        -o-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
         -khtml-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
        box-shadow:3px 3px 8px rgba(154,154,154,0.9);
    }
.shadowdark{
        -moz-box-shadow:3px 3px 8px rgba(58,58,58,0.9);
        -webkit-box-shadow:3px 3px 8px rgba(58,58,58,0.9);
        -o-box-shadow:3px 3px 8px rgba(58,58,58,0.9);
         -khtml-box-shadow:3px 3px 8px rgba(58,58,58,0.9);
        box-shadow:3px 3px 8px rgba(58,58,58,0.9);
    }
    .rounded{
        -moz-border-radius:7px;
        -webkit-border-radius:7px;
        -o-border-radius:7px;
        -khtml-border-radius:7px;
        border-radius:7px;
    }

    .roundedtop{
        -moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-khtml-border-radius-topleft: 10px;
	-khtml-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

    }
.roundedmore{
        -moz-border-radius:12px;
        -webkit-border-radius:12px;
        -o-border-radius:12px;
        border-radius:12px;
    }
    .squareshadow{
        -moz-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
        -webkit-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
        -o-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
         -khtml-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
        box-shadow:3px 3px 8px rgba(154,154,154,0.9);
    }
    div.sortbuttons{margin-top:1em;
    margin-bottom:2em;}
div.sortbuttons a{
color:white;
cursor:crosshair;
background:gray;
padding:0.3em;
}
div.sortbuttons a:hover{
    color:#cdcdcd;
}

div.sortbuttons h4{
    float:left;
    margin-right:1em;
}