/* 
    Document   : 2items
    Created on : Dec 7, 2009, 9:49:15 AM
    Author     : mosa
    Description:
        2items block start
*/


div.block-type-2items div.class-article
{
    padding: 0 4px 0 4px;
}
div.block-type-2items div.attribute-header>h2{
    font-size: 1.5em;
}

div.block-type-2items div.attribute-header>h2>a
{
    color:#273236;
    text-decoration: none;
    font-weight: bold;
}
div.block-type-2items div.attribute-header>h2:first-letter{
    color:#a10101;
    font-size: 1.3em;
}

div.block-type-2items div.attribute-short{
    text-align:justify;
    width:100%;
    overflow:hidden;
}
div.block-type-2items div.attribute-image>img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

div.block-type-2items div.attribute-image
{
    
    margin-right: 0.5em;
    margin-left: 0;
}
div.block-view-2_items2 div.class-article
{
    padding-bottom: 25px;
    margin-bottom: 1em;
}