/*
    Document   : 3items
    Created on : Dec 7, 2009, 9:50:38 AM
    Author     : mosa
    Description:
        3items block style
*/

div.block-type-3items{
    overflow:hidden;
    width:100%;
    float:left;
}

div.block-type-3items div.attribute-header>h2{
    font-size: 1.5em;
}

div.block-type-3items div.attribute-header>h2>a
{
    color:#273236;
    text-decoration: none;
    font-weight: bold;
}

div.block-type-3items div.attribute-image>img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

div.block-type-3items div.attribute-header>h2:first-letter{
    color:#a10101;
    font-size: 1.3em;
}

div.block-type-3items div.separator
{
    height: 1px;
    margin: 0.75em 0 0.75em 0;
}