/* 
    Document   : 5items
    Created on : Dec 7, 2009, 9:55:19 AM
    Author     : mosa
    Description:
        5items-1 block style
*/

div.block-type-5items div
{
  float:left;
  clear:both;
  width:100%;
}

div.block-type-5items div.two-columns{
    width:100%;
    float:left;
}
div.block-type-5items div.two-columns div.col-1{
    width:48%;
    float:left;
    margin-left:1%;
    clear:none;
}
div.block-type-5items div.two-columns div.col-2{
    width:48%;
    float:left;
    margin-left:1%;
    padding-left:1%;
    clear:none;
}

div.attribute-page div.two-columns div.block-type-5items div.attribute-image{
    width:auto;
    padding-right:0.5em;
}
div.block-type-5items  h2
{
    background:#a9a9a9;
    padding:0.2em;
    font-size:1em;
    font-weight:bold;
}
div.block-type-5items  h2 a{
    color:white;
}

div.block-type-5items div.attribute-header{
    float:left;
    clear:both;}

div.block-type-5items div.attribute-short{
    float:left;
    clear:both;
}
div.block-type-5items div.attribute-image
{
    float: left;
    margin: 0.25em 0.5em 0 0;
}