div.block-view-7_items1{
    
}

div.block-view-7_items1 div.image{
    float:left;
    padding-right:0.4em;
    
}
div.block-view-7_items1 div.attribute-short{
 
}

div.block-view-7_items1 div.object_informations{
    clear:both;
    padding-top:0.4em;
}