/* 
    Document   : common
    Created on : Dec 7, 2009, 9:45:38 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        common block styles
*/

div.block-separator
{
    height: 1px;
    margin: 0.5em 0 0.5em 0;
}
div.block div.left
{
    float: left;
    clear: left;
    width: 48%;
}

div.block div.right
{
    float: right;
    clear: right;
    width: 48%;
    text-align: right;
}

div.break
{
    clear: both;
}