/* 
    Document   : common
    Created on : Dec 7, 2009, 9:45:38 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        common block styles
*/

div.block-separator
{
    height: 1px;
    margin: 0.5em 0 0.5em 0;
}
div.block div.left
{
    float: left;
    clear: left;
    width: 48%;
}

div.block div.right
{
    float: right;
    clear: right;
    width: 48%;
    text-align: right;
}

div.break
{
    clear: both;
}

div.attribute-header-block{
    border-bottom:2px solid white;
    box-shadow:0 -2px 0 #cdcdcd inset;
    -moz-box-shadow:0 -2px 0 #cdcdcd inset;
    -webkit-box-shadow:0 -2px 0 #cdcdcd inset;
    
    padding:0.5em 0.5em 0.5em 0;
    margin-bottom: 1em;
}
div.content-view-full div.attribute-header-block>h2{
    color:#273236;
    font-size:1.5em;
    margin:0;
    padding:0.3em 0 0 0.3em;
}

.frontpage-select{
    height:3em;
    width:100%;
    padding-top:0.5em;
}

.border1{
      -moz-border-image:url(../images/backgrounds/block.png) 17 20 15 40 round round;
      -webkit-border-image:url(../images/backgrounds/block.png) 17 20 15 40 round round;
      border-image:url(../images/backgrounds/block.png) 17 20 15 40 round round;
      border-width:5px;

}