/* 
    Document   : itemlist
    Created on : Dec 7, 2009, 9:56:18 AM
    Author     : mosa
    Description:
        items list block style
*/

.block-type-itemlist
{
    float:left;
    width:100%;
}

.block-type-itemlist  
{

    padding-bottom: 0.25em;
}
.block-type-itemlist   a
{
font-weight: 100;
}
.block-type-itemlist span{
    font-size:0.7em;
}
.block-type-itemlist span p{
    margin:0;
    padding:0;
}
.block-type-itemlist   a:hover{

}
.block-type-itemlist   ul
{

    margin:0; 
}

.block-type-itemlist   ul li
{
    background: url(../images/lang-li-curr-bg.png) no-repeat left 5px;
    margin:0;
}

.block-type-itemlist .two-columns .col-1,.block-type-itemlist .two-columns .col-2{
    width:45%;
    float:left;
}
