/* 
    Document   : itemlist
    Created on : Dec 7, 2009, 9:56:18 AM
    Author     : mosa
    Description:
        items list block style
*/

.block-type-itemlist
{
    float:left;
    overflow:hidden;
    width:100%;
}

.block-type-itemlist .block-content
{

    padding-bottom: 0.25em;
}
.block-type-itemlist .block-content a
{
    color: gray;
    text-decoration: none;
}
.block-type-itemlist .block-content a:hover{
    color:black;
}
.block-type-itemlist .block-content ul
{
        margin-left: 2em;
    
}

.block-type-itemlist .block-content ul li
{
    list-style: square;
    padding-left:0;
    margin-left: 0;
    margin-bottom: 0.1em;
    margin-right:1em;
}

.block-type-itemlist .two-columns .col-1,.block-type-itemlist .two-columns .col-2{
   width:45%;
   float:left;
}
