/* 
    Document   : mainstory
    Created on : Dec 7, 2009, 9:46:28 AM
    Author     : mosa
    Description:
      Mainstory-1 block style
*/
div.block-type-mainstory div.trans-background
{
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    opacity: 0.5;
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    position: absolute;
    width: 321px;
    height: 57px;
    margin-top: -57px;
    z-index: 0;
}

div.block-type-mainstory div.attribute-link
{
    width: 301px;
    padding: 10px;
    height: 37px;
    visibility: visible;
    color:#FFFFFF;
    margin-top: -57px;
    position: absolute;
    z-index: 1;
}

div.block-type-mainstory div.attribute-link a
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}

div.block-type-mainstory div.attribute-image
{
    float: none;
    margin: 0;
}

div.block-type-mainstory div.attribute-image img
{
    display: block;
}