
div.block-type-mainstory div.trans-background
{
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    opacity: 0.5;
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    position: absolute;
    width: 321px;
    height: 57px;
    margin-top: -57px;
    z-index: 0;
}

div.block-view-main_story1 div.attribute-link
{
    width: 301px;
    height: 200px;
    float:left;
    width:25.5%;
    background: #bcbcbc;
    display:table;    
}

div.block-view-main_story1 div.attribute-link a
{
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding:1em;
    display:table-cell;
    vertical-align: middle;
    font-size:1.6em;
}

div.block-view-main_story1  div.attribute-image
{
    float: left;
    margin:0;
}

div.block-type-mainstory div.attribute-image img
{

}
div.block-type-mainstory div.attribute-header  a{
    color:#273236;
}

div.block-type-mainstory div.attribute-header  h1:first-letter{
    font-size:1.1em;
     color:#a60304;
}