div#calendar h1 {
	padding: 0.5em;
	font-size: 1.6em;
}

div#calendar h2 {
	margin: 0.5em 0;
	font-size: 1.4em;
}


div#calendar thead tr th{
    text-align:center;
    font-size:1.5em;
    color:#ffedbd;
    background: url(../images/sfondi/dropdown_back.png);
    vertical-align:middle;
}

div#calendar thead{
    margin-bottom:1em;
    height:2.5em;
   }
div#calendar h2.fc-header-title{
    background:url(../images/calendar/cal_nome_mese_small.png) no-repeat center;
    color:#574a20;
    padding:1em;
    width:150px;
    text-align:center;
    position:relative;
    top:-15px;
    text-shadow:none;
       
}

div#calendar {
    font-family:Conei;
}

div#calendar p {
	margin: 0.5em;
}

div#calendar .ui-widget {
	font-size: 1em;
}

div#calendar #event_edit_container, #about {
	display: none;
}

#about_button_container {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 0.5em 2em;
	background: #ddf;
	border: 1px solid #bbd;
	width: 10em;
	text-align: center;
}

div#calendar .week-calendar-header td {
	background: url(images/header-bg.png) repeat-x;
}

div#calendar td.fc-header-right div.fc-button-agendaWeek a span{
    background:url(../images/calendar/settimana_cal_small.png) no-repeat center;
    width:100px;
    height:45px;
}

div#calendar td.fc-header-right div.fc-button-agendaWeek a span:hover{
    background:url(../images/calendar/settimana_cal_small_hover.png) no-repeat center;
   }
div#calendar td.fc-header-right div.fc-button-month a span{
    background:url(../images/calendar/mese_cal_small.png) no-repeat center;
    width:81px;
    height:49px;
}

div#calendar td.fc-header-right div.fc-button-month a span:hover{
    background:url(../images/calendar/mese_cal_small_hover.png) no-repeat center;
    }

div#calendar td.fc-header-right div.fc-button-agendaDay a span{
    background:url(../images/calendar/giorno_cal_small.png) no-repeat center;
    width:98px;
    height:46px;
}
div#calendar td.fc-header-right div.fc-button-agendaDay a span:hover{
    background:url(../images/calendar/giorno_cal_small_hover.png) no-repeat center;
    }


div#calendar td.fc-header-left div.fc-button-today a span{
    background:url(../images/calendar/cal_oggi_small.png) no-repeat center;
    width:83px;
    height:52px;
    position:relative;
    top:-10px;
    left:-73px;
}

div#calendar td.fc-header-left div.fc-button-today a span:hover{
    background:url(../images/calendar/cal_oggi_small_hover.png) no-repeat center;
}

div#calendar td.fc-header-left div.fc-button-prev a span{
    background:url(../images/calendar/arrow_left_small.png) no-repeat left;
    width:36px;
    height:30px;
}

div#calendar td.fc-header-left div.fc-button-next a span{
    background:url(../images/calendar/arrow_right_small.png) no-repeat right;
    width:36px;
    height:30px;
    position:relative;
    left:60px;
}

div#calendar label {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

div#calendar form ul {
	padding: 0.3em;
}

div#calendar select, div#calendar input[type='text'], textarea {
	width: 250px;
	padding: 3px;
}

div#calendar input[type='text'] {
	width: 245px;
}

div#calendar ul.formatted,ol.formatted {
	display: block;
	margin: 1em 0.5em;
}

div#calendar ul.formatted li,ol.formatted li {
	margin: 5px 30px;
	display: auto;
}

div#calendar ul.formatted li {
	list-style-type: disc;
}

div#calendar ol.formatted li {
	list-style-type: decimal;
}

div#calendar_legend{
    width:90%;
    margin-top:2em;
}
div#calendar_legend div.legend_box{}
div#calendar_legend div.calendar_element{
    padding-bottom:1em;
    height:auto;
    overflow:hidden;
}

div#calendar_legend div.calendar_element input{
    float:right;
    clear:right;
    position:relative;
    top:1em;
    right:0.5em;
}
div#calendar_legend div.calendar_element span{
    float:left;
    display:block;
    font-size:1em;
    padding:0.3em;
    width:60%;
    position:relative;
    left:0.5em;
    top:0.5em;
    background:white;
}

div#tools_container{
    display:none;
}