/*school menu*/



/* prof menu*/

div#prof_menu{
    float:left;
    padding:1em;
    width:10%;
    
}
div.classe_center{
    float:right;
    width:89%;  
}



/*Logo title*/

/*div#logo_title{
    height:79px;
    width:780px;
    background:url(../images/titolo_sito.png) no-repeat;
    margin-left:auto;
    margin-right:auto;
}*/

.first_ch{color:#c42323;}
/*Registration css*/
div.register{width:12em;
margin-left:auto;
margin-right:auto;
}


div.register input.button{
float:left;
margin-top:2em;
margin-right:1em;
}

div#reg_student{
background:url(../images/registration/studenti.jpg) no-repeat;
width:300px;
height:300px;
float:left; 
}
div#reg_prof div{
margin-top:-2em;
float:left; 
}
div#reg_prof{
background:url(../images/registration/studenti.jpg) no-repeat;
width:300px;
height:300px;
float:right; 
} 
div#reg_student div {
margin-top:-2em;
float:left; 
}



div#page {  
width: 90%;
margin: 0 auto 0 auto;
text-align: left;
background:white;
}

div#wrapper1
{

}

div#wrapper2
{


}

div#page-width1, div#page-width2, div#page-width3
{
position: relative;
}

div#page-width1, div#page-width2, div#page-width3, div#page-width4, div#page-width5, div#page-    , div#page-width7
{
margin: 0 auto;
text-align: left;
width: 100%;
}

/* HEADER */

div#header
{
background:url(../images/decorazioni/sfondo_head.png) repeat;
height:auto;
}

div#header ul
{
margin: 0;
padding: 0.25em 0 0.25em 0;
}

div#header ul li
{
list-style-type: none;
list-style-image: none;
padding: 0;
display: inline;
margin-left: 1em;
background-image: none;
}

div#logo
{
float: left;
color:#42456c;
font-size:4em;
font-weight:bold;
width:250px;
height:219px;
background:url(../images/logo/mela_verde.png);
}

div#languages
{
text-align: right;
font-size: 0.85em;
font-family: Tahoma, Arial, Helvetica, sans-serif;
height:130px;
width:10%;
right:5%;
position:absolute;


}

div#languages ul{
   
    width:3em;
    height:100%;
    float:right;
    padding-right:0.9em;
}

div#languages a
{
color: #42456c;
text-decoration: none;
font-weight:bold;
font-size:1.1em;
}

div#languages ul li
{
background-position: 0 0.5em;
padding-left: 12px;
margin-left: 0.5em;
display:block;
}


div#languages li{
     width:70px;
    height:30px;
    position:relative;
    right:4em;
   
}
div#languages li.current_siteaccess a
{

position:relative;
color: white;
font-weight:bold;
font-size:1.3em;


}

div#languages ul li a{
    padding-right:2em;
    
}
div#languages ul li.current_siteaccess{
   padding-top:0.6em;
    background:url(../images/decorazioni/lan_label.png) no-repeat;
    /*position:relative;
    right:4em;
    padding-top:0.6em;*/
}

div#user_links{
    width:10em;
    float:right;
        }

div#links{
    text-align: right;
    font-size: 0.85em;
    font-weight: normal;
    clear: both;
}







div#links ul li
{
background-image: url(../images/links-li-bg.gif);
background-position: 0 0.5em;
display:block;
/*padding-left: 1
margin-left: 0.5em;*/
text-align:left;
}

div#links a
{
color: #666666;
text-decoration: none;
}

div#searchbox
{
/*width: 40em;*/ /* Needs to be sufficient width to fit both text input and submit button to avoid Konqueror breaking the line between them */
margin-top: 0.8em;
margin-right: 1em;
text-align: right;
float: right;
}

div#searchbox img
{
display: block;
float: left;
margin-top: 6px;
margin-right: 6px;
}

input#searchtext
{
border: 1px solid #c3c7c5;
background-image: url(../images/search-input-bg.png);
background-position: left bottom;
background-repeat: repeat-x;
font-size: 0.85em;
height: 15px;
padding: 0;
width: 222px;
float: left;
margin-right: 5px;
}

input#searchbutton
{
margin-top: 0;
margin-bottom: -0.5em;
display: block;
float: left;
}

/* School Menu */


/*reset layout*/

div#school_menu{
    margin-left:auto;
    margin-right:auto;
    width:60%;
    color:black;
    height:105px;
    position:relative;
    top:4em;
    left:4em;
    }

div#school_menu li {
       
}
div#school_menu span{
    color:white;
    font-size:1.5em;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
}

div#school_menu li,a,ul {
        margin:0;
        /*padding:0;*/
        }
div#school_menu li a {
	
	display: block;
	float: left;
	margin: 0;
	/*padding: 8px 16px;*/
	text-decoration: none;
	font-weight:normal;
        height:106px;
        padding-right:40px;
        padding-bottom:20px;
        text-align:center;
        }
div#school_menu li a img{
        clear:both;
        padding:0;
        border:none;
/*        position:relative;
        left:5px;*/

        }
div#school_menu li a:hover img {
	border:none;
	}

div#school_menu li a:link, div#school_menu li a:visited {
	color: black;
	display: block;
	/*padding: 8px 0 0 10px;*/
	}
div#school_menu a.sch_button{
    background:url(../images/decorazioni/back_sch_button.png) no-repeat;
}
div#school_menu a.sch_button:hover{
    background:url(../images/decorazioni/back_sch_button_over.png) no-repeat;
}
div#school_menu li.current a.sch_button{
    background:url(../images/decorazioni/back_sch_button_over.png) no-repeat;}
/* PATH */

div#path
{
padding: 1em 0.5em 0.5em 2em;
font-size: 0.85em;
color: #605c90;
clear: both;
}

div#path p
{
margin: 0;
}

div#path a
{
color: #605c00;
display: block;
float: left;
text-decoration: none;
background-image: url(../images/path-a-bg.gif);
background-repeat: repeat-x;
background-position: left bottom;
padding: 0 0 1px 0;
margin-right: 4px;
}

div#path span.path-separator
{
color: #ddb94d;
display: block;
font-weight:bold;
float: left;
margin-right: 4px;
}

/* COLUMNS */

div#columns
{
 padding: 0 284px 0 14em;
}

div.nosidemenu div#columns
{
 padding-left: 0;
}

div.noextrainfo div#columns
{
 padding-right: 0;
}

/* SIDE MENU */

div#sidemenu-position
{
background-color:white;
width: 14em;
margin-left: -14em;
float: left;
display: inline; /* Fix for IE double margin bug */
}

div.nosidemenu div#sidemenu-position
{
display: none;
}

div#sidemenu ul
{
list-style-type: none;
margin: 0.5em 0 0.5em 0;
}

div#sidemenu ul li
{
margin: 0.25em 0 0.25em 0;
padding: 0;
list-style-type: none;
list-style-image: none;
background-image: none;
color:white;
}

div#sidemenu div.box div.box-content
{
padding-left: 0.75em;
padding-right: 0;
}

div#sidemenu h4
{
margin: 0;
}

div#sidemenu h4 a
{
color: #525345;
text-decoration: none;
}

div#sidemenu ul.menu-list a.selected
{
font-weight: bold;
}

div#sidemenu ul.submenu-list
{
list-style-type: none;
margin-left: 1em;
}

div#sidemenu ul.submenu-list a.selected
{
font-weight: bold;
}

div#sidemenu ul.menu-list li a, div#sidemenu ul.submenu-list li a
{
background-image: url(../images/sidemenu_bullet.png);
background-position: 0.2em 0.5em;
background-repeat: no-repeat;
padding-left: 18px;
display: block;
font-size: 0.85em;
}

/* MAIN AREA */

div#main-position
{
width: 100%;
float: left;
}

div#main
{
position: relative;
}

div.nosidemenu div#main-position
{
margin-left: 0;
}

div.noextrainfo div#main-position
{
margin-right: 0;
}

/* EXTRA CONTENT */

div#extrainfo-position
{
width: 284px;
margin-right: -284px;
float: left;
}

div.noextrainfo div#extrainfo-position
{
display: none;
}

div#extrainfo
{

}

/* FOOTER */

div#footer
{
margin-top: 3px;
clear: both; /* Ensures that the footer is pushed properly below the columns */
text-align: center;
padding-bottom: 1em;
}

div#footer div.border-content
{
padding: 1.25em;
text-align: center;
font-size: 0.8em;
color: #7f7f7f;
/*
background-image: url(../images/footer-logo.png);
background-repeat: no-repeat;
background-position: 15px 2px;
*/
}

div#footer address
{
font-style:normal;
}

div#sidemenu
{
padding: 0 0.25em 0 0;
}

div#extrainfo
{
padding: 0em;
}