

div.attribute-image
{
    margin: 0.25em 0 0.5em 0;
}
div.content-view-full div.attribute-image
{
    margin-left: 0.5em;
    margin-right: 0;
}
div.content-view-full div.attribute-image div.caption
{
    font-size: 0.8em;
    text-align: center;
    margin: 2px 0 0 0;
}
div.content-view-full div.attribute-image div.caption p
{
    padding: 3px;
    margin: 0;
}

div.content-view-embed div.attribute-image
{
    float: left;
    margin-right: 0.5em;
    margin-left: 0;
}

div.image-wrapper div.zoom{
    display:none;
}
div.image-wrapper:hover div.zoom{
    display:block;
    position: absolute;
    margin-top:-6em;
}
