/* 
    Document   : image
    Created on : Dec 6, 2009, 8:21:36 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        Image attribute style
*/

div.attribute-image
{
    margin: 0.25em 0 0.5em 0;
}
div.content-view-full div.attribute-image
{
    margin-left: 0.5em;
    margin-right: 0;
}
div.content-view-full div.attribute-image div.caption
{
    font-size: 0.8em;
    text-align: center;
    margin: 2px 0 0 0;
}
div.content-view-full div.attribute-image div.caption p
{
    padding: 3px;
    margin: 0;
}
div.content-view-line div.attribute-image
{
    float: left;
    margin-right: 0.5em;
    margin-left: 0;
}
div.content-view-embed div.attribute-image
{
    float: left;
    margin-right: 0.5em;
    margin-left: 0;
}