/* 
    Document   : pdf
    Created on : Dec 6, 2009, 8:16:18 PM
    Author     : mosa
    Description:
    pdf attribute style
*/

.attribute-pdf a
{
    background-image: url('../images/icons/pdf_icon.gif');
}