div.content-view-full div.class-albo div.attribute-header>div.attribute-image{
    float:left;
}

div.content-view-full div.class-albo div.attribute-image{
    padding-right:1em;
    padding-bottom:1em;
}

div.content-view-full div.class-albo div.attribute-header h1
{
    float:left;
    padding-bottom: 0;
    margin-bottom: 0.5em;
    line-height: 0.9em;
    min-width:20%;
}


