div.content-view-full div.class-albo div.attribute-header>div.attribute-image{
    float:left;
}

div.content-view-full div.class-albo div.attribute-image{
    padding-right:1em;
    padding-bottom:1em;
}

div.content-view-full div.class-albo div.attribute-header h1
{
    float:left;
    padding-bottom: 0;
    margin-bottom: 0.5em;
    line-height: 0.9em;
    min-width:20%;
}

div.content-view-full div#filter div#data{
    overflow: hidden;
    float:left;
    margin-left:1em;
    padding:1em;
    width:90%;
    position:relative;
    border-top:2px solid #ff6c1e;
    border-bottom:2px solid #ff6c1e;
    margin-bottom:2em;
}


div.content-view-full div#filter div#interface{
    float:left;
   
}
div.content-view-full ul.filter-tabs {
  
   
}

div.content-view-full ul.filter-tabs li{
    display: block;
        float:left;
        padding:10px 5px;
        background: #f2f2f2;
        margin:0;
        border-right:2px solid transparent;
        
}

div.content-view-full ul.filter-tabs li.selected{
    background:#ff6c1e;
    height:3em;
    position:relative;
    top:-1em;
}
div.content-view-full ul.filter-tabs li.selected:hover{
    background: #ff6c1e;
    color:white;
}

div.content-view-full ul.filter-tabs li.selected:hover a{
    color:white;
}

div.content-view-full ul.filter-tabs li.selected a{
    color:white;
    font-size:1.2em;
    position:relative;
    top:0.6em;
}
div.content-view-full  ul.filter-tabs li:hover{
    background: #85868b;
    color:white;
}

div.content-view-full ul.filter-tabs li:hover a{
    color:white;
}

div.content-view-full ul.filter-tabs li a{
    font-size:0.9em;
    font-weight: bold;
    color:#85868b;

   
    }
div.content-view-full ul.filter-tabs li a:hover{
    
    
    }