/* 
    Document   : article_mainpage
    Created on : Nov 28, 2009, 5:45:47 PM
    Author     : mosa
    Description:
        article_mainpage css class
*/


div.content-view-full div.class-article-mainpage div.attribute-header>div.attribute-image{
    float:left;
}

div.content-view-full div.class-article-mainpage div.attribute-image{
    padding-right:1em;
    padding-bottom:1em;
}

div.content-view-full div.class-article-mainpage div.attribute-header h1
{
    float:left;
    padding-bottom: 0;
    margin-bottom: 0.5em;
    line-height: 0.9em;
    max-width:83%;
    min-width: 30%;
}

div.content-view-full div.class-article-mainpage div.pagenavigator
{
     padding-bottom: 56px;
}