/* 
    Document   : article
    Created on : Nov 28, 2009, 5:38:45 PM
    Author     : mosa
    Description:
        Article full view style sheet part.
*/



div.class-article div.attribute-short p a{
    color:gray;
    }
div.content-view-full div.class-article div.attribute-image{
    padding-right:1em;
    padding-bottom:1em;
}

div.content-view-full div.class-article div.attribute-byline
{
    background-image: none;
    padding-bottom: 0;
    margin-bottom: 1em;
}
div.content-view-full div.class-article div.attribute-long
{
    background-image: none;
    padding-bottom: 56px;
}

div.content-view-full div.class-article div.attribute-header h1
{
    background: none;
    padding-bottom: 0;
    margin-bottom: 0.25em;
}

