div.content-view-full div.class-article div.attribute-byline
{
    padding-bottom: 0;
    margin-bottom: 1em;
}
div.content-view-full div.class-article div.attribute-long
{
    padding-bottom: 56px;
}



