/* 
    Document   : article
    Created on : Nov 28, 2009, 5:38:45 PM
    Author     : mosa
    Description:
        Article full view style sheet part.
*/



div.content-view-full div.class-article div.attribute-header>div.attribute-image{
    float:left;
}

div.content-view-full div.class-article div.attribute-image{
    padding-right:1em;
    padding-bottom:1em;
}

div.content-view-full div.class-article div.attribute-byline
{
    padding-bottom: 0;
    margin-bottom: 1em;
}
div.content-view-full div.class-article div.attribute-long
{
    padding-bottom: 56px;
}

div.content-view-full div.class-article div.attribute-header h1
{
    float:left;
    padding-bottom: 0;
    margin-bottom: 0.5em;
    line-height: 0.9em;
    max-width:83%;
}

