/* 
    Document   : blog
    Created on : Nov 28, 2009, 6:01:59 PM
    Author     : mosa
    Description:
        blog full view
*/
div.columns-blog
{
    padding: 0 17em 0 0;
}
div.class-blog
{
    width: auto;
    margin: 0 auto 0 auto;
    text-align: left;
}
div.columns-blog div.main-column
{
    margin: 0 0.25em 0 0; 
}
