/* 
    Document   : common
    Created on : Nov 28, 2009, 6:05:36 PM
    Author     : mosa
    Description:
       Content common styles
*/

div.content-view-full{
    margin-top:1em;
}

div.main-column-position
{
    width: 100%;
    float: left;
}

div.noextrainfo div.main-column
{
    margin-right: 0;
}

div.extrainfo-column-position
{
    width: 17em;
    margin-right: -17em;
    float: left;
}

/*Attribute byline*/

div.content-view-full div.attribute-byline p.author
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}

div.content-view-full div.attribute-byline p.date
{
    margin: 0 0.2em 0 0.2em;
    display: inline;
    color: #CCCCCC;
    font-size: 0.9em;
}

div.content-view-full div.attribute-byline p.placement
{
    margin-left: 0.2em;
    display: inline;
}

div.content-view-full div.attribute-byline p.count
{
    margin-left: 0.2em;
    display: inline;
}

div.content-view-full div.content-view-line div.attribute-byline p
{
    display: inline;
}

/*Headers*/
div.attribute-header h1
{
    font-size: 2.4em;
    font-weight: normal;
   
}

div.attribute-header h1.long
{
    font-size: 1.8em;
    margin-bottom: 0;
}

/*quotes*/
div.quote
{
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 19px;
}
div.quote-design
{
    padding-bottom: 19px;
    background-position: bottom right;
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1em;
}
div.quote-design p.author
{
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
}

/*split styles*/
div.split
{
    clear: both;
}

div.split-content
{
    border: none;
}

div.split div.three-left
{
    width: 31%;
    float: left;
}

div.split div.three-right
{
    width: 31%;
    float: right;
}

div.split div.three-center
{
    margin: 0 35% 0 35%;
}
div.break
{
    clear: both;
    font-size: 1px; /* Fix for IE */
    height: 1px;
    margin-bottom: -1px;
}

/*separators*/

div.separator
{
    height: 20px;
    clear: both;
}
div.title-separator{
    border-bottom:4px solid #c4c5c6;
    margin-bottom:1em;
    width:80%;
    float:left;
}

/*general boxes styles*/
div.border-box
{
    margin-bottom: 1em;
}
div.block div.original
{
    background-color: #ecece4;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
    border: 1px dashed #bfbeb6;
}

/*general list styles*/

ul li
{
    padding-left: 14px;
    list-style-type: none;
}

/*object informations*/

div.object_informations{
    color:#85868b;
    padding-left:0.2em;
    font-weight: 300;
    margin-top:0.7em;
}

/*informations*/
h
div.informations{
    margin-bottom: 1em;
    overflow: hidden;
}

div.responsabile{
    background: #ff6c1e;
    padding:0.5em;
}
div.responsabile a{
    
}
div.responsabile h3{
    color:white;
    font-weight:bold;
}

div.meccanografico{
    padding:0.5em;
    background: #85868b;
    color:white;
    font-weight: bold;
}
/* ajax loader*/
div.loader{
    vertical-align: middle;
    margin-left:auto;
    margin-right: auto;
    height:64px;
    width:64px;
    background: url(../images/ajax/ajax_preloader.gif) no-repeat;
}

div.navigator_loader{
    position: absolute;
    vertical-align: middle;
    margin-left:auto;
    margin-right: auto;
    height:100%;
    width:100%;
    background: rgba(255,255,255,0.7) url(../images/ajax/ajax_preloader.gif) no-repeat center;
   
    
}

/*filter*/



div.content-view-full div#filter div#data{
    overflow: hidden;
    float:left;
    margin-left:1em;
    padding:1em;
    width:90%;
    position:relative;
    border-top:2px solid #ff6c1e;
    border-bottom:2px solid #ff6c1e;
    margin-bottom:2em;
}


div.content-view-full div#filter div#interface{
    float:left;
    margin-bottom:2em;
   
}


div.content-view-full div#filter div#interface div.detach{
    margin:2em;
}

div.content-view-full ul.filter-tabs{
    margin-bottom:2em;
}

div.content-view-full ul.filter-tabs li{
    display: block;
        float:left;
        padding:10px 5px;
        background: #f2f2f2;
        margin:0 5px 1em 0;
              
}

div.content-view-full ul.filter-tabs li.selected{
    background:#ff6c1e;
   }
div.content-view-full ul.filter-tabs li.selected:hover{
    background: #ff6c1e;
    color:white;
}

div.content-view-full ul.filter-tabs li.selected:hover a{
    color:white;
}

div.content-view-full ul.filter-tabs li.selected a{
    color:white;
     }

     
 div.content-view-full  ul.filter-tabs li:hover{
    background: #85868b;
    color:white;
}

div.content-view-full ul.filter-tabs li:hover a{
    color:white;
}

div.content-view-full ul.filter-tabs li a{
    font-size:0.9em;
    font-weight: bold;
    color:#85868b;

   
    }