/* 
    Document   : course_org
    Created on : Dec 15, 2009, 11:34:41 PM
    Author     : mosa
    Description:
        course_org full view template
*/



div.class-course_org h4{
    margin-top:2em;
}