

div.content-view-full div.class-dipendenti div.attribute-header>div.attribute-image{
    float:left;
}
div.content-view-full div.class-dipendenti div.attribute-header h1
{
    float:left;
    padding-bottom: 0;
    margin-bottom: 0.5em;
    line-height: 0.9em;
    max-width:83%;
}
div.content-view-full div.class-dipendenti div.attribute-image{
    padding-right:1em;
    padding-bottom:1em;
}