/* 
    Document   : dms_folder
    Created on : Nov 28, 2009, 6:21:02 PM
    Author     : mosa
    Description:
    dms_folder full view css
*/

div.content-view-full div.class-dmsfolder div.content-view-line{
    margin:0;
}
