div.content-view-full div.class-file div.attribute-header h1{
    float:none;
}
div.class-file table.comparison-file{
    width:100%;
}
div.class-file table.comparison-file td{
    height:2em;
    border-bottom:2px solid #b5b1b1;
}
div.class-file table.comparison-file th{
    background:gray;
    height:2em;
    padding:0.3em;
    color:white;
}
div.class-file table.comparison-file td.title{
    font-weight:bold;
}

div.class-file table.comparison-file a{
    font-weight:bold;
    text-decoration:none;

}