
div.content-view-full div.class-folder div.attribute-header>div.attribute-image{
    float:left;
}

div.content-view-full div.class-folder div.attribute-image{
    padding-right:1em;
    padding-bottom:1em;
}

div.content-view-full div.class-folder div.static-elements-box{
    padding:1em 1em 0.6em 1em;
    margin-bottom: 2em;
}