

div.content-view-full div.class-frontpage div.columns-frontpage
{
    padding: 0 246px 0 246px;
}
div.content-view-full div.class-frontpage div.columns-frontpage div.left-column-position
{
    width: 246px;
    margin-left: -246px;
    float: left;
    display: inline; 
}
div.content-view-full div.class-frontpage div.columns-frontpage div.center-column-position
{
    width: 100%;
    float: left;
}
div.content-view-full div.class-frontpage div.columns-frontpage div.center-column-position div.center-column
{
    margin: 0;
}
div.content-view-full div.class-frontpage div.attribute-bottom-column
{
    clear: both
}
div.content-view-full div.class-frontpage div.columns-frontpage div.right-column-position
{
    width: 246px;
    margin-right: -246px;
    float: left;
}
div.content-view-full div.norightcolumn div.columns-frontpage div.right-column-position
{
    display: none;
}
div.content-view-full div.rightcolumn div.columns-frontpage div.right-column-position div.right-column
{
    margin-left: 1em;
}
div.content-view-full div.noleftcolumn div.columns-frontpage div.center-column-position div.center-column
{
    margin-left: 0;
    padding-right: 0;
}
div.content-view-full div.norightcolumn div.columns-frontpage div.center-column-position div.center-column
{
    margin-right: 0;
    padding-left: 0;
}
div.content-view-full div.noleftcolumn div.columns-frontpage
{
    padding-left: 0;
}
div.content-view-full div.norightcolumn div.columns-frontpage
{
    padding-right: 0;
}
div.content-view-full div.noleftcolumn div.columns-frontpage div.left-column-position
{
    display: none;
}
div.content-view-full div.leftcolumn div.columns-frontpage div.left-column-position div.left-column
{
    margin-right: 1em;
}
div.frontpage-footer{
   
    font-size:0.9em;
    margin-top:2em;
    text-align:justify;
}
