div.infobox-header
{
    margin-bottom: 0;
}
div.infobox-header h2
{
    margin: 5px 0px 6px 0px;
    padding: 0;
    font-size: 14px;
}

/* Infobox */
div.infobox div.attribute-image
{
    margin: 0.5em 0.5em 0.5em 0;
    float: left;
}
div.infobox div.controls
{
    padding-top: 0.5em;
    text-align: right;
    border-top: 1px dotted #EAE8E1;
}
