/* 
    Document   : m2000_front
    Created on : Nov 28, 2009, 8:21:19 PM
    Author     : mosa
    Description:
    m2000 frontpage full view
*/


div.class-m2000_front img{
    float:left;
}
div.class-m2000_front div.frontpage_header{
    background:#e8f5ec;
    padding:2em 0 2em 2em;
    overflow:hidden;
}
div.class-m2000_front h1.section_header{
    float:left;
    font-size:3em;
    width:3em;
    padding-left:1em;
}