/* 
    Document   : m2000_front
    Created on : Nov 28, 2009, 8:21:19 PM
    Author     : mosa
    Description:
    m2000 frontpage full view
*/



div.class-m2000_front div.attribute-header>h1
{
    color:#273236;
    font-weight: bold;
}
div.class-m2000_front div.attribute-header>h1:first-letter{
    color:#a10101;
    font-size: 1.3em;
}