

div.content-view-full div.class-macroarea div.image-block{
    overflow: hidden;
}
div.content-view-full div.class-macroarea div.attribute-header{
    overflow: hidden;
}

div.content-view-full div.class-macroarea div.image-block div.attribute-image{
    float:left;
}


div.class-macroarea{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
