/* 
    Document   : macroarea
    Created on : Dec 6, 2009, 5:59:54 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
Macroarea full view style
*/

.break{
    clear:both;
}
div.macro_block{
    float:left;
    width:126px;
    padding:1em;
}
div.class-macroarea{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
div.macro_block h2 {
    text-align:center;
}