

div.content-view-full div.class-folder_professore div.prof-personal_info{
    clear:both;
    float:left;
    width:100%;
}
div.content-view-full div.class-folder_professore div.left-column{
    width:25%;
}

div.content-view-full div.class-folder_professore div.right-column{
    width:55%;
}




