/* 
    Document   : school_front
    Created on : Nov 28, 2009, 8:22:27 PM
    Author     : mosa
    Description:
    school_front frontpage full view
*/


div.class-frontpage_scuola h2.section_header{
    font-size:2em;
   
}

div.class-frontpage_scuola div.responsabile{
    float:left;
    width:48%;
}

div.class-frontpage_scuola div.meccanografico{
    float:right;
    width:48%;
}


div.class-frontpage_scuola div.attribute-header>h1
{
    color:#273236;
    font-weight: bold;
}
div.class-frontpage_scuola div.attribute-header>h1:first-letter{
    color:#a10101;
    font-size: 1.3em;
}