/* 
    Document   : survey
    Created on : Dec 6, 2009, 8:59:08 PM
    Author     : mosa
    Description:
    survey full view
*/
div.survey-choices label{
    font-weight:normal;
    font-style:italic;
}
