div.generic-line {
    margin-bottom:5em;
}


div.content-view-children div.generic-line div.attribute-image {
    float:left;
    padding-right:1.5em;
}

div.generic-line div.attribute-group{

}

div.generic-line div.attribute-group a{
    font-size:1.3em;
}

