div.inv_item-line {
  clear:both;
  float:left;
  width:100%;
}


div.content-view-children div.inv_item-line div.attribute-image {
    float:left;
    padding-right:1.5em;
}

div.inv_item-line div.attribute-group{
    margin-top:1.5em;
}

div.inv_item-line div.attribute-group a{
    font-size:1.3em;
}

