div.content-view-full div.content-view-line div.class-scuola{

}
div.content-view-full div.content-view-line div.class-scuola div.attribute-header{
float:left;
}

div.content-view-full div.content-view-line div.class-scuola h2{

}
div.content-view-full div.content-view-line div.class-scuola div.meccanografico{
    float:left;
    font-size:1.3em;
    margin-left:1em;
}