div.visible-window{
    overflow:hidden;
    height:250px;
    background:white;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}
div.program-list{
    background:#c2d5e7;
    padding:1em;
    overflow: hidden;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}
ul.events {
    display:block;
    position:relative;
    overflow: hidden;
}
div.position{
    color:white;
    font-weight:bold;
    overflow:hidden;
    width:100%;
    height:1em;
}

div.arrow{
    cursor: pointer;
    text-align:center;
    height:18px;
    width:32px;
    margin-left:auto;
    margin-right:auto;
}

div.upper-button{
    background: url(../images/decorazioni/arrow-up.png) no-repeat center;
}

div.lower-button{
    background: url(../images/decorazioni/arrow-down.png) no-repeat center;
}

div.commands{
    text-align:center;
    height:18px;
    width:100%;
}
div.commands a{
    display:block;
    height:18px;
    text-decoration: none;
}

.loading{
    background: url(../images/ajax/arrows16.gif) no-repeat;
    height:18px;
    width:32px;
    display:none;
    float:left;
}
li.noevent{
    background:white;
    font-weight: bold;
    font-size:1.1em;
}
span.date_block{
    display:block;
    height:2em;
    width:0.5em;
    float:left;
}
span.day_month{

}