/* 
    Document   : comment
    Created on : Dec 6, 2009, 8:29:42 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        comment line style
*/

div.content-view-line div.class-comment
{
    border: 1px solid #EAE8E1;
    padding: 0.5em 0.5em 0.25em 0.5em;
    margin: 1em 0 1em 0;
}

div.content-view-line div.class-comment div.attribute-byline
{
    background: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

div.content-view-line div.class-comment p.author
{
    float: right;
    clear: right;
    width: 48%;
    display: block;
    text-align: right;
    margin-top: -0.1em;
    font-style: italic;
}

div.content-view-line div.class-comment p.date
{
    float: left;
    clear: left;
    width: 48%;
    display: block;
    margin: 0 0.2em 0 0.2em;
    color: #CCCCCC;
    font-size: 0.9em;
}
