

div.wip{
    position:relative;
    background:red;
    padding:0.3em;
    width:40em;
    margin-bottom:2em;
}
div.wip p{font-size:1.25em;
          color:white;
          font-weight:bold;
          text-align:center;}

h4.mandatory {font-family:serif;
              font-style:italic;}

h4.mandatory:before{
    content:'* ';
    color:red;
}