/* 
    Document   : article
    Created on : Nov 28, 2009, 5:54:24 PM
    Author     : mosa
    Description:
        article line view css
*/

div.content-view-line div.class-article a,div.content-view-line div.class-article-mainpage a{
    text-decoration:none;
    font-size:1.8em;
}

div.content-view-line div.class-article div.attribute-short
{
    font-weight: normal;
}

div.content-view-full div.content-view-line .class-article div.attribute-image{
    width:100%;
    text-align: center;
}
div.content-view-full div.content-view-line .class-article div.attribute-image img{
   float:none;
}