/* 
    Document   : dmsfolder
    Created on : Nov 28, 2009, 6:22:08 PM
    Author     : mosa
    Description:
    dmsfolder line view css
*/
div.content-view-line div.class-dmsfolder h2{
    min-height:5px;
    
}
div.content-view-line div.class-dmsfolder  a{
    display:block;
    height:100%;
    text-align:left;
    color:white;
   }

   
div.content-view-full div.content-view-line div.class-dmsfolder{
    float:left;
    padding:0.2em 0.8em 1em 0.5em;
    min-height:15px;
    background: #ffa800;
    margin-right:0.4em;
    
 }
 
 div.content-view-full div.content-view-line div.class-dmsfolder:hover{
     background:gray;
 }

 div.content-view-line div.class-dmsfolder  a img{
     position:relative;
     top:5px;
 }
 div.content-view-full div.extracol  div.content-view-line div.class-dmsfolder{
     width:100%;
     margin-bottom: 0.3em;
      }