/* 
    Document   : common
    Created on : Dec 6, 2009, 8:47:23 PM
    Author     : mosa
    Description:
        Commmon tables styles
*/

table.cols
{
    width: 100%;
    margin: 1em 0 1em 0;
    border: none;
}

table.cols th, table.cols td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    vertical-align: top;
}

table.cols th
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
    background-repeat: repeat-x;
    background-position: top left;
}

table.cols td
{
    font-weight: normal;
}

table.cols th:first-child, table.cols td:first-child
{
    border-left: 1px solid #ffffff;
}

table.cols col.bglight, div.bglight
{
    background-color: #F1F1ED;
}

table.cols col.bgdark, div.bgdark
{
    background-color: #EAE9E1;
}

table.cols tr.bglight:hover, table.cols tr.bgdark:hover
{
    background-color: #EAE9E1;
}

table.cols tr.bglight:hover td, table.cols tr.bgdark:hover td
{
    background-color: #F1F1ED;
}

table.cols a
{
    border-bottom-color: #EAE9E1;
}
