/* 
    Document   : comparison
    Created on : Dec 6, 2009, 8:46:17 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        comparison table style
*/

table.comparison
{
    width: 100%;
    margin: 1em 0 1em 0;
    border: none;
}
table.comparison th, table.comparison td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    vertical-align: top;
}
table.comparison th
{
    font-weight: bold;
    color:white;
    background-color: #ff6c1e;
    white-space: nowrap;
    text-align: left;
    background-repeat: repeat-x;
    background-position: top left;
}
table.comparison td
{
    font-weight: normal;
}
table.comparison th:first-child, table.comparison td:first-child
{
    border-left: 1px solid #ffffff;
}

table.comparison td:first-child{
    background:#273236;
    color:white;
    font-weight: bold;
}
table.comparison col.bglight, div.bglight
{
    background-color: #F1F1ED;
}
table.comparison col.bgdark, div.bgdark
{
    font-weight: bold;
    color: #525345;
    background-color: #DFDFDF;
    white-space: nowrap;
    text-align: left;
}
table.comparison tr.bglight:hover, table.comparison tr.bgdark:hover
{
    background-color: #ffc03d;
}
table.comparison tr.bglight:hover td, table.comparison tr.bgdark:hover td
{
    background-color: #ffc03d;
}
table.comparison a
{
    border-bottom-color: #EAE9E1;
}