div#login_handle{
    overflow: hidden;
}
div#ajax_login_form{
    background:rgba(0,0,0,0.5);
    padding:2em;
    position:absolute;
    display:none;
    width:200px;
    height:250px;
    z-index:1500;
    -moz-box-shadow:3px 3px 3px black;
}
div#login_wrapper{
    overflow: hidden;
    position: absolute;
    width:200px;

}

div#login_wrapper  div.error_box{
    color:white;
    font-size:1.1em;
    margin:1em;
    padding:1em;
    background:rgba(255,255,255,0.5);
    display: none;
    font-weight: bold;
}

div#login_wrapper input{
    height:35px;
    margin-bottom:20px;
    width:100%;
}

div#login_wrapper button{
    font-family: Conei;
    background: url(../images/sfondi/login_button.png);
}