/* 
    Document   : headings
    Created on : Jul 21, 2009, 9:34:54 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        heading style
*/


/* HEADINGS */

h1, h2, h3, h4, h5, h6 /* Set general styles for all headings; some may be overridden later */
{
    font-weight: bold;
    font-style: normal;
    margin: 0 0 0.5em 0;
    padding: 0;
}

h1
{
    font-size: 1.4em;
    font-weight: normal;
}

h2
{
    font-size: 1.3em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5
{
    font-size: 1em;
}

h6
{
    font-size: 1em;
    font-weight: normal;
}
