/* LINKS */

a
{
    color: #cf3154;
    text-decoration: none;
    font-weight:bold;
    
    }

a:hover
{
    color: #273236;
    text-decoration:none;
    cursor:pointer;
}

a img
{
    border: none; /* Some browsers may display a border around a linked image without this attribute set to _none_. */
}

a.external:after{
    content:url(../images/icons/external_link_small.png);
    margin-left:0.1em;
 }