/* 
    Document   : messages
    Created on : Jul 21, 2009, 9:39:26 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        Messages
*/




/* HORIZONTAL RULERS */

hr /* General formatting for all horizontal rulers */
{
    color: #ffffff; 
    border: none; 
    border-top: 1px solid #e0e0e0; 
    height: 1px;
    margin: 0.35em 0 0.35em 0;
}


/* MESSAGES TO THE USER */

div.message-confirmation, div.message-feedback, div.message-warning, div.message-error, div.warning
{
    margin: 0.5em 0 1em 0;
    padding: 0.5em 1em 0.5em 1em;
    border: 6px solid #808080;
    background-color: #f8f8f8;
}

div.message-feedback
{
    border-color: #40b040;
}

div.message-warning, div.warning
{
    border-color: #ff0000;
}

div.message-error
{
    border-color: #c04040;
}
