/* 
    Document   : classgroup
    Created on : Nov 28, 2009, 6:12:32 PM
    Author     : mosa
    Description:
    class group css full view
*/

div.class-classgroup{
    padding-right:2em;
}
div.class-classgroup ul.corso_blocco{
    display:block;
    float:left;
    clear:both;
}
div.class-classgroup ul.corso_blocco li{
    float:left;
}
div.class-classgroup ul.corso_blocco li.list_header{
    width:6em;
    height:6em;
}