/* 
    Document   : classe.css
    Created on : Nov 28, 2009, 6:08:30 PM
    Author     : mosa
    Description:
       classe full view style
*/

div.class-classe div.students-list{
    background:#ede9e9;
    padding:1em;
}
div.class-classe div.students-list table{
    background:#cdcdcd;
    width:100%;
    padding:1em;
    border-spacing:0;
}

div.class-classe div.students-list table tr{
    height:1.5em;
    
}
div.class-classe div.students-list table td{
    border-bottom:2px solid gray;
    margin-bottom:0.5em;
}