/* 
    Document   : comment
    Created on : Dec 6, 2009, 8:28:51 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        comment full view
*/
div.content-view-full div.class-comment div.attribute-header h1
{
    background: none;
    padding-bottom: 0;
    margin-bottom: 0.25em;
}

div.content-view-full div.class-comment div.attribute-byline
{
    padding-bottom: 25px;
    margin-bottom: -0.25em;
    display: block;
}
