/* 
    Document   : common
    Created on : Nov 28, 2009, 6:05:36 PM
    Author     : mosa
    Description:
       Content common styles
*/

div.content-view-full{

  }

div.main-column-position
{
    width: 100%;
    float: left;
}

div.noextrainfo div.main-column
{
    margin-right: 0;
}

div.extrainfo-column-position
{
    width: 17em;
    margin-right: -17em;
    float: left;
}

/*Attribute short*/

div.content-view-full div.attribute-short{

}



div.content-view-full div.infotools{

    
}
div.content-view-full div.infotools div.calendar{
        background: rgba(0,0,0,0.3);
    padding:0.5em;
}

/*Attribute byline*/




div.content-view-full div.attribute-byline p.author
{
    margin-right: 0.2em;
    display: inline;
    font-size: 1.2em;
    text-shadow:1px 1px 1px black;
    color:white;
}

div.content-view-full div.attribute-byline p.date
{
    margin: 0 0.2em 0 0.2em;
    display: inline;
    font-size: 0.9em;
}

div.content-view-full div.attribute-byline p.placement
{
    margin-left: 0.2em;
    display: inline;
}

div.content-view-full div.attribute-byline p.count
{
    margin-left: 0.2em;
    display: inline;
}

div.content-view-full div.content-view-line div.attribute-byline p
{
    display: inline;
}

/*Headers*/
div.attribute-header h1
{
    font-size: 3em;
    font-weight: normal;
    padding-top: 25px;
    text-shadow:2px 1px 2px black;
    margin-bottom: 5px;
    border-bottom:3px solid rgba(255,255,255,0.5);
}

div.attribute-header h2{
       padding:0.5em;
}


div.attribute-header h1.long
{
    font-size: 1.8em;
    font-weight: normal;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 25px;
    margin-bottom: 0;
}

/*quotes*/
div.quote
{
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 19px;
}
div.quote-design
{
    padding-bottom: 19px;
    background-position: bottom right;
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1em;
}
div.quote-design p.author
{
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
}

/*split styles*/
div.split
{
    clear: both;
}

div.split-content
{
    border: none;
}

div.split div.three-left
{
    width: 31%;
    float: left;
}

div.split div.three-right
{
    width: 31%;
    float: right;
}

div.split div.three-center
{
    margin: 0 35% 0 35%;
}
div.break
{
    clear: both;
    font-size: 1px; /* Fix for IE */
    height: 1px;
    margin-bottom: -1px;
}

/*separators*/

div.separator
{
    background-image: url(../images/separator.jpg);
    background-repeat: no-repeat;
    height: 20px;
    clear: both;
}
/*general boxes styles*/
div.border-box
{
    margin-bottom: 1em;
}
div.block div.original
{
    background-color: #ecece4;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
    border: 1px dashed #bfbeb6;
}

/*general list styles*/

ul li
{
    padding-left: 14px;
    list-style-type: none;
}