div.content-view-full div#calendar{
    padding:2em;
}

div.content-view-full div.event-info-box{
    position:absolute;
    background:#3366CC;
    
    right:-3px;
    min-width: 300px;
    min-height: 200px;
    z-index:1000;
    padding:1em;
    overflow: hidden;
}

div.content-view-full div.fc-event>a{
    background: url(../images/props/down_triangle.png) no-repeat  right;
    padding-right:1.2em;
    overflow:visible;
 }
div.content-view-full div.fc-event {


}

div.content-view-full div.fc-event a span.color_code{
display:none;
}

div.content-view-full div#calendar thead tr{
    margin-bottom:1em;
}

div.content-view-full div#calendar span.ezagenda_date{
    color:white;
}