/* 
    Document   : folder
    Created on : Nov 28, 2009, 8:08:28 PM
    Author     : mosa
    Description:
    folder full view
*/

div.class-folder div.content-view-children div.content-view-line{
    clear:none;
}

div.content-view-full div.class-folder{
    padding:0 1em 1em;
    margin:0 1.5em 1.5em;
    overflow: hidden;
}

