/* 
    Document   : gallery
    Created on : Dec 7, 2009, 9:13:21 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        gallery full view style
*/

div.content-view-full div.class-gallery{
    overflow: visible;
    padding:1.5em;
}

div.content-view-full div.class-gallery div.content-view-children div.content-view-line
{
    clear: left;
}

div.content-view-full div.class-gallery div.content-view-children h4.school-year{
    padding:0.5em;
    margin-bottom:2em;
    background:#cdcdcd;
}

div.content-view-full div.class-gallery div.attribute-link
{
    clear: both;
}

div.content-view-full div.class-gallery div.content-view-galleryline
{

    margin: 0 1.25em 1em auto;
    padding: 5px;
    float: left;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image
{
    float: none;
    margin: 0;
    padding: 0;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image p
{

    margin: 0;
    padding: 0;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image img
{
    display: block;
    margin: 0;
    padding: 0;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image a
{
    margin: 0;
    padding: 0;
    display: inline;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-name
{
    border-top: 1px solid #EFEEE9;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
}
div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-name p
{
    text-align:center;
    font-weight:bold;
    margin: 0;
    padding: 0.5em 0 0.4em 0;
}

div.content-view-full div.class-gallery div.content-view-children
{
    margin:0;
    padding: 0 0 30px 0;
    float:left;
    width: 100%;
    clear: both;
}
