/* 
    Document   : sitemap
    Created on : Dec 6, 2009, 8:42:53 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
Site map full view
*/

div.content-view-sitemap table td
{
    vertical-align: top;
}
div.content-view-sitemap ul
{
    padding: 0;
    margin: 0.75em 0 1em 0;
}
div.content-view-sitemap ul ul
{
    margin: 0.3em 0 0.5em 12px;
}
div.content-view-sitemap ul
{
    list-style-type: none;
}
div.content-view-sitemap ul li
{
    margin: 0 0 0.5em 2em;
    padding: 0 0 0 14px;
    line-height: 1.25em;
}