/* 
    Document   : tag_cloud
    Created on : Dec 6, 2009, 8:44:16 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        tag cloud full view
*/



div.content-view-tagcloud
{
    text-align: center;
}
