table.list /* Standard class usable for most regular tables presenting lists, with additional related styles */
{
    width: 100%;
    margin: 1em 0 1em 0;
    border: none;
}

table.list th, table.list td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: none;
    vertical-align: top;
}

table.list th
{
    font-weight: bold;
    color: white;
    white-space: nowrap;
    text-align: left;
    background:url(../images/decorazioni/table_header.png) repeat-x;
      
}

table.list td
{
    border-top: 1px solid white;
    font-weight: normal;
}

table.list th:first-child, table.list td:first-child
{
    border-left: 1px solid #ffffff;
}

table.list tr.bglight
{
    background-color: #e7e7e7;
}

table.list tr.bgdark
{
    background-color: #aeaeae;
}

table.list tr.bglight:hover, table.list tr.bgdark:hover /* This has no effect in IE6 and below */
{
    background-color: #c3e1e7;
}

table.list tr.bglight:hover td, table.list tr.bgdark:hover td
{
    border-color: #ffffff;
}

table.list a
{
    border-bottom-color: #EAE9E1;
}

table.list img
{
    vertical-align: middle;
}

table.list input.button,table.list input.button-disabled{
    width:6em;
}