/* 
    Document   : page
    Created on : Nov 28, 2009, 8:30:04 PM
    Author     : mosa
    Description:
    page attribute (used in frontpages) style
*/
div.attribute-page{
    overflow:hidden;
}

