
a.remove-event{
    float:left;
    font-size:2em;
    font-weight:bold;
    color:red;
    display:block;
    float:left;
    height:32px;
    width:32px;
    background:url(../images/icons/trash_small.png) no-repeat;
}

a.remove-event:hover{
    cursor:pointer;
}

div.content-view-embed div.class-event {
    color:#273236;
}

div.content-view-embed div.class-event div.content-view-embed div.attribute-image a{
    background: none;
    border:0;
}