/* 
    Document   : event
    Created on : Dec 7, 2009, 9:21:38 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        event embed view style
*/

a.remove-event{
    float:left;
    font-size:2em;
    font-weight:bold;
    color:red;
    display:block;
    float:left;
    height:32px;
    width:32px;
    background:url(../images/icons/trash_small.png) no-repeat;
}

a.remove-event:hover{
    cursor:pointer;
}