/* 
    Document   : image
    Created on : Dec 6, 2009, 8:23:12 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        Image embed view
*/

div.object-left div.content-view-embed div.class-image div.attribute-image
{
    margin: 0;
    float: none;
}

div.object-right div.content-view-embed div.class-image div.attribute-image
{
    margin: 0;
    float: none;
}

div.object-center div.content-view-embed div.class-image
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.object-center div.content-view-embed div.class-image div.attribute-image
{
    margin: 0;
    float: none;
}

div.content-view-embed div.class-image div.attribute-caption
{
    background-color: #EAE9E1;
    font-size: 0.8em;
    text-align: center;
    margin: 2px 0 0 0;
}

div.object-center div.content-view-embed div.class-image div.attribute-caption
{
    margin: 2px auto 0 auto;
}
div.content-view-embed div.class-image div.attribute-caption p
{
    padding: 3px;
    margin: 0;
}