
div.object-left div.content-view-embed div.class-image div.attribute-image
{
    margin: 0;
    float: none;
}

div.object-right div.content-view-embed div.class-image div.attribute-image
{
    margin: 0;
    float: none;
}

div.object-center div.content-view-embed div.class-image
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.object-center div.content-view-embed div.class-image div.attribute-image
{
    margin: 0;
    float: none;
}

div.content-view-embed div.class-image div.attribute-caption
{
   
    font-size: 0.8em;
    text-align: center;
    margin: 2px 0 0 0;
    padding-top:0.5em;
    font-style: italic;
    
}

div.object-center div.content-view-embed div.class-image div.attribute-caption
{
    margin: 2px auto 0 auto;
}
div.content-view-embed div.class-image div.attribute-caption p
{
    padding: 3px;
    margin: 0;
}