/* 
    Document   : dialog
    Created on : Dec 8, 2009, 10:57:56 AM
    Author     : mosa
    Description:
    Calendar dialog styles
*/


div.ui-dialog{
    -moz-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
    -webkit-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
    -o-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
    -khtml-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
    box-shadow:3px 3px 8px rgba(154,154,154,0.9);
    background:white;
    
}
div.ui-widget-overlay{
    background:gray;
    opacity:0.5;
    left:0;
    top:0;
    position:absolute;
}

