div#extrainfo-position
{
width: 284px;
margin-right: -284px;
float: left;
}

div.noextrainfo div#extrainfo-position
{
display: none;
}

div#extrainfo
{
    background-color:white;
    border:3px solid #457eb1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin:2em 0 0 2em;

}

div#extrainfo-position div#extrainfo div.block-type-2items {
    border:none;
}

div#extrainfo-position div.border-box div.border-content{
    background: none;
}