div#sidemenu-position
{
    background-color:white;
    width: 13em;
    margin-left: -14em;
    float: left;
    display: inline;
}
div.nosidemenu div#sidemenu-position
{
    display: none;
}

div#sidemenu
{
    background:#e7e7e7;
    min-height:40em;
}

div#sidemenu  li a, div#sidemenu  li a
{
    display: block;
    color:gray;
}

div#sidemenu select.select_prof{
    width:11em;
    margin-top:1em;

}


div#sidemenu  div.border-box
{
    padding:0;
    background:none;
    overflow:hidden;
}

div#sidemenu span{
    float:right;
    font-family:arial;
    font-weight:bold;
    font-size:1.2em;
}

div#sidemenu h4
{
    font-size:1.5em;
    margin: 0;
    width:100%;
    height:2em;
    color:black;
    padding-top:0.2em;
}



div#sidemenu h2.header{
    color:white;
    text-align:left;
    font-weight:bold;
    font-size:2em;
}

div#sidemenu ul
{
    list-style-type: none;
    margin: 0;
}
div#sidemenu ul li
{
    margin:0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    background-image: none;
    color:white;
}

div#sidemenu ul.submenu-list{}
div#sidemenu div.first_level_menu{
    height:2.5em;
}

div#sidemenu a{
    font-weight: bold;
}

div#sidemenu ul.menu-list li a.parent-menu{
    background:gray;
    padding-left:0.5em;
    color:white;
}

div#sidemenu h4 a{
    color: #525345;
    text-decoration: none;
}

div#sidemenu ul.menu-list li a{
    height:100%;
    line-height:2em;
    vertical-align:middle;
    text-decoration:none;
}

div#sidemenu ul.menu-list li div.first_level_menu a.selected,div#sidemenu ul.menu-list li div.first_level_menu a.current
{
    background:black;
    color:white;
    -moz-border-radius:15px;
}

div#sidemenu ul.submenu-list a.selected,div#sidemenu ul.submenu-list a.current
{
    background:white;
    color:black;
    font-weight:bold;
    -moz-border-radius:15px;
}
div#sidemenu li div.first_level_menu a:hover{
    background:black;
    color:white;
    -moz-border-radius:15px;
   
}
div#sidemenu li div.first_level_menu a{
    font-size:1.1em;
    padding-left:0.5em;
}


div#sidemenu  ul li div.second_level_menu a{
    font-size:0.9em;
    padding-left:1em;
    color:gray;
}

div#sidemenu li div.second_level_menu a:hover{
    color:black;
}
div#sidemenu li div.third_level_menu a:hover{
    color:black;
}
div#sidemenu  li div.third_level_menu a{
    font-size:0.8em;
    padding-left:2em;
    color:gray;
}
div#sidemenu  li div.third_level_menu a:hover{
    color:#00aec3;
    }
div#sidemenu  li div.fourth_level_menu:hover{
    color:#949494;
}
div#sidemenu  li div.fourth_level_menu a{
    font-size:0.7em;
    padding-left:3em;
    color:gray;
}

