
div.mainstory1{
    background:#ffa800;
}

div.block-type-mainstory div.trans-background
{
    padding: 0;
    background-color: #ffa800;
    color: #FFFFFF;
    opacity: 0.5;
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    position: absolute;
    width: 560px;
    height: 57px;
    margin-top: -67px;
    z-index: 0;
    
   
}

div.block-type-mainstory div.attribute-link
{
    width: 560px;
    padding: 10px;
    height: 37px;
    visibility: visible;
    color:#FFFFFF;
    margin-top: -67px;
    position: absolute;
    z-index: 1;
    text-shadow:1px 1px 1px black;
    font-size:1.1em;
}

div.block-type-mainstory div.attribute-link a
{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    font-size:1.5em;
}

div.block-type-mainstory div.attribute-image
{
    float: none;
    margin: 0;
    padding-bottom:10px;
   
}

div.block-type-mainstory div.attribute-image img
{
    display: block;
    margin-left:auto;
    margin-right: auto;

}