
div.content-view-line{
    clear:both;
    margin-bottom:1.3em;
}


div.content-view-line h2.line-header-common{
     margin: 0 0 0.1em;
    }

div.content-view-line h2.line-header-common:first-letter{
    color:#a10101;
    font-size: 1.3em;
}

div.content-view-line div.attribute-image
{
    margin-right: 0.5em;
    margin-left: 0;
}

.read-on {
    font-size:0.8em;
     background: url(../images/props/arrow.png) no-repeat center left;
     padding-top:1em;
}
.read-on a{
    margin-left:18px;
}

div.content-view-line  div.user-icon{
    width:85px;
    height:85px;
    background:url(../images/icons/prof-icon.png) no-repeat center;
    float:left;
}

div.content-view-line div.phone{
    background: url(../images/icons/phone_small.png) no-repeat center left;
    padding-left:22px;
}

div.content-view-line div.email{
    background: url(../images/icons/email.png) no-repeat center left;
    padding-left:32px;
}
div.content-view-line div.highlighted_attribute{
    font-weight: bold;
    padding:0.3em;
    color:white;
    background:#ffb20d;
}