
div.content-view-line div.class-dmsfolder h2{
    height:3em;
    background:url(../images/icons/folder.png) no-repeat transparent;
    float:left;
    margin-right:3em;
    min-width: 48px;
}
div.content-view-line div.class-dmsfolder h2 a{
    position:relative;
    left:48px;
    top:20px;
    color:gray;
}

div.content-view-line div.class-dmsfolder div.attribute-short{
    float:left;
    position:relative;
    top:1.75em;
    font-weight: bold;
    font-family: sans-serifi;
    color:#a60304;
    
}