/* 
    Document   : file
    Created on : Nov 28, 2009, 8:04:00 PM
    Author     : mosa
    Description:
    file line view
*/

div.content-view-line div.class-file
{
    float:left;
    overflow:visible;
    width:100%;
}
div.content-view-line div.class-file a{
    float:left;
    font-weight:bold;
    color:gray;
    text-decoration:none;
    margin-right: 1em;
}
div.content-view-line div.class-file a:hover{
    color:black;
}
div.content-view-line div.class-file p{

}
div.content-view-line div.class-file img{
    position:relative;
    top:0.3em;
}
div.content-view-line div.class-file div.attribute-description{
    float:left;
    background:#bbbbbf;
    padding:0.3em;
    color:white;
    width:100%;
    display: none;
 }
 div.content-view-line div.class-file:hover div.attribute-description{
     display: block;
 }
 
div.content-view-line div.class-file h2{
    float:left;
    padding-left:0.3em;
    padding-bottom:0.3em;
    width:100%;
}

div.content-view-line div.class-file div.attribute-file
{
    height:auto;
    border-bottom:1px solid #cdcdcd;
    overflow:visible;
    float:left;
    width:100%;
}
div.content-view-line div.class-file p.time{
  float:right;
}
div.content-view-line div.class-file p.extra_info{
  float:right;
  color:#a60304;
  margin-right: 1em;
}
