/* 
    Document   : folder
    Created on : Nov 28, 2009, 8:10:00 PM
    Author     : mosa
    Description:
    folder line view
*/
div.folder_color_1{
    background:#d6e3c6;
}
div.folder_color_2{
    background:#d4dfb1;
}
div.folder_color_3{
    background:#bcc7c9;
}
div.folder_color_4{
    background:#f4f4f4;
}
