/* 
    Document   : gallery
    Created on : Dec 7, 2009, 9:14:33 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        gallery line view style
*/


div.content-view-line div.class-gallery{
    overflow:visible;
    margin-bottom:2em;
}

div.content-view-line div.class-gallery div.gallery-icon{
    float:left;
    margin-right:1.4em;
   
}
