/* 
    Document   : gallery
    Created on : Dec 7, 2009, 9:14:33 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        gallery line view style
*/

div.content-view-line div.class-gallery-small{
     background:#e9efec;
}
div.content-view-line div.class-gallery{
    overflow:hidden;
    margin-bottom:2em;
}

div.content-view-line div.class-gallery div.gallery-icon{
    float:left;
    margin-right:1.4em;
    height:120px;
}
div.content-view-line div.class-gallery h2{
    float:left;
    border-bottom:2px solid gray;
    margin-left:1em;
    background:none;
    width:30%;
}
div.content-view-line div.class-gallery div.attribute-short{
    float:left;
    width:80%;
}
div.content-view-line div.class-gallery div.attribute-short p{
    float:left;
    clear:both;
    margin-left:1em;
}