div.content-view-line div.class-macroarea{
    padding:1em;
    border-bottom:2px solid white;
    box-shadow:0 -2px 0 #cdcdcd inset;
    -moz-box-shadow:0 -2px 0 #cdcdcd inset;
    -webkit-box-shadow:0 -2px 0 #cdcdcd inset;
   }
