
div.content-view-line div.class-proffolder{
    display: table;
    overflow: hidden;
    width:100%;
}

div.content-view-line div.class-proffolder h4{
    display:table-cell;
    vertical-align:middle;
    
}


div.content-view-line div.class-proffolder div{
    display:table-cell;
    vertical-align:middle;
    width:22%;
}
div.content-view-line div.class-proffolder div.user-icon{
    width:75px;
}