
div.content-view-line div.class-survey{
    float:left;
    width:100%;
    clear:both;}

div.content-view-line div.class-survey h2{
    padding:0.4em;
}
div.content-view-line div.class-survey h2 a{
    color:white;
}
div.content-view-line div.class-survey div.attribute-short img{
    float:left;
    margin:0.5em;
}

