div.content-view-line>div.class-ufficio{
    width:100%;
    margin-bottom:1.5em;
}

div.content-view-line>div.class-ufficio div.attribute-short{
    width:100%;
}

div.content-view-line>div.class-ufficio div.title-separator{
    float:none;
}