    @font-face {
   font-family: Body;
   src: url('../fonts/body.ttf') format("truetype");
}
@font-face {
   font-family: Cheap;
   src: url('../fonts/cheap.otf');
   }

   @font-face {
   font-family: Panhead;
   src: url('../fonts/panhead.ttf') format("truetype");
}
@font-face {
   font-family: Bleeding;
   src: url('../fonts/bleeding.ttf') format("truetype");
}
@font-face {
   font-family: Conei;
   src: url('../fonts/conei.ttf') format("truetype");
}
@font-face {
   font-family: Freak;
   src: url('../fonts/freak.ttf') format("truetype");
}
@font-face {
   font-family: Nash;
   src: url('../fonts/nash.ttf') format("truetype");
}

@font-face {
   font-family: Anderson;
   src: url('../fonts/anderson.ttf') format("truetype");
}
@font-face {
   font-family: West;
   src: url('../fonts/west.ttf') format("truetype");
}
@font-face {
   font-family: Bosox;
   src: url('../fonts/bosox.ttf') format("truetype");
}
@font-face {
   font-family: Outlaw;
   src: url('../fonts/outlaw.otf');
}

@font-face {
   font-family: Saloon;
   src: url('../fonts/saloon.ttf') format("truetype");
}
@font-face {
   font-family: Vanilla;
   src: url('../fonts/vanilla.ttf') format("truetype");
}
@font-face {
   font-family: Regulators;
   src: url('../fonts/regulators.ttf') format("truetype");
}
@font-face {
   font-family: Mirisch;
   src: url('../fonts/mirisch.ttf') format("truetype");
}

@font-face {
   font-family: Bogus;
   src: url('../fonts/bogus.ttf') format("truetype");
}
@font-face {
   font-family: Typodermic;
   src: url('../fonts/typodermic.ttf') format("truetype");
}