div#iesuckswrapper{
    height:64px;
    width:400px;
    position:absolute;
    margin-left:450px;
    margin-top:70px;
    display: none;
}
div#iesuckswrapper img{
    float:left;
    position:relative;
    top:1.5em;
}
div#iesucks {
    padding:1em;
    background: url(../images/sfondi/whiteie.png);
}
div#iesucks p{
    font-family:Verdana;
    font-size:1em;
    font-weight: normal;
    margin-left:70px;
}
div#iesucks a{
    color:black;}
div#iesucks a:hover{
    color:gray;
}