div#logo
{
padding-left:0.5em;
float: left;
color:#42456c;
font-size:4em;
font-weight:bold;
height:174px;
width:500px;

}


div#logo div#upper_logo{
    position:relative;
    top:0.8em;
    left:0.4em;
}