div#page {
    width: 900px;
    min-height:1156px;
    margin: 0 auto 0 auto;
    text-align: left;
    background:url(../images/sfondi/sfondo_top.jpg) no-repeat;
    -moz-box-shadow:0 10px 18px black;
    -webkit-box-shadow:0 10px 18px black;
    -o-box-shadow:0 10px 18px black;  
}
div#subpage{
    width: 900px;
    margin: 0 auto 0 auto;
    background:url(../images/sfondi/border_ripetizione2.jpg) repeat-y 0 963px;
}

div#page-width1, div#page-width2, div#page-width3
{
    position: relative;
}

div#page-width1, div#page-width2, div#page-width3, div#page-width4, div#page-width5, div#page-width7
{
    margin: 0 auto;
    text-align: left;
    width: 100%;
}