/* 
    Document   : subscribe
    Created on : Apr 27, 2010, 1:47:49 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
div.newsletter {
    padding:1em;
    margin:1.5em;
    background: url(../images/sfondi/dropdown_back_hover.png);
}

div.newsletter p a{
    color:white;
    text-shadow:1px 1px 1px black;
}

div.newsletter p a:hover{
    color:yellow;
}