/* 
    Document   : blog
    Created on : Nov 28, 2009, 6:01:59 PM
    Author     : mosa
    Description:
        blog full view
*/
div.columns-blog
{
    padding: 0 17em 0 0;
}
div.class-blog
{
    width: auto;
    margin: 0 auto 0 auto;
    text-align: left;
}
div.columns-blog div.main-column
{
    margin: 0 0.25em 0 0; 
}
div.class-blog div.attribute-byline p.tags
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}
div.class-blog div.attribute-byline p.author
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}
div.class-blog div.attribute-byline p.date
{
    margin: 0 0.2em 0 0;
    display: inline;
    color: #CCCCCC;
    font-size: 0.9em;
}