/* 
    Document   : common-edit
    Created on : Nov 28, 2009, 8:05:56 PM
    Author     : mosa
    Description:
    common edit style
*/


div.content-edit div.attribute-header h1.long
{
    padding-bottom: 46px;
}
div.content-edit div.attribute-language
{
    margin-top: -43px;
    margin-bottom: 20px;
    padding-left: 2px;
}
div.block table.special
{
    border-bottom: 1px solid #EAE8E1;
    margin-bottom: 0.5em;
}
div.block table.special th.tight
{
    width: 3%;
    text-align: left;
}
div.block table.special th
{
    width: 94%;
    text-align: left;
}