/* 
    Document   : image
    Created on : Dec 6, 2009, 8:20:12 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        Image full view style
*/

div.content-view-full div.class-image{
    padding:2.5em;

}

div.content-view-full div.class-image div.attribute-header a{
    text-shadow:1px 1px 1px black;
    font-size:1.1em;
    position:relative;
    top:-1.5em;
}


div.content-view-full div.class-image div.attribute-image
{  
    float: none;
    margin:0;
}

div.content-view-full div.class-image div.attribute-image img{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

div.content-view-full>div.class-image div.comments{
    margin-top:2em;
    background: url(../images/sfondi/dropdown_back_hover2.png);
}

div.content-view-full div.attribute-caption{
    margin-top:2em;
    padding:1em;
    background: url(../images/sfondi/dropdown_back_hover2.png);
}