/* 
    Document   : 2zone
    Created on : Dec 7, 2009, 10:20:05 AM
    Author     : mosa
    Description:
      2zone layout
*/

div.zone-layout-2zone div.colonna_s{
    float:left;
    padding-right:3em;
    width:32%;

}
div.zone-layout-2zone div.colonna_d{
    float:left;
    width:63%;
    border-left:2px dashed gray;
    padding-top:0.6em;
    background:#e0e0e0;
  }