/* 
    Document   : 1zonah
    Created on : Dec 7, 2009, 10:15:11 AM
    Author     : mosa
    Description:
       1zonah layout
*/


div.zone-layout-1zonah div.block-element{
    width:25em;
    float:left;
    height:100%;
    min-height:25em;
}

div.zone-layout-1zonah div.pos_colonne{
    width:100%;
}
