
/* FOOTER */
div#footer
{
     clear: both; /* Ensures that the footer is pushed properly below the columns */
    text-align: center;
    padding-top: 1em;
    min-height: 100px;
    border-top: 3px solid #ff6c1e;
    background: #273236; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#273236', endColorstr='#000000'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#273236), to(#000000)); 
    background:-moz-linear-gradient(center top , #273236, #000000) repeat scroll 0 0 transparent;
   
}
div#footer div.border-content
{
    padding: 1.25em;
    text-align: center;
    font-size: 0.8em;
    color: #7f7f7f;

}
div#footer address
{
    font-style:normal;
}

div#extrainfo
{
    padding: 0m;
}