/* 
    Document   : menu
    Created on : Jul 21, 2009, 8:52:40 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* PROF MENU*/
ul.menu_indent{
    position:relative;
    left:1em;
}


div#prof_menu{
    float:left;
    padding:1em;
    width:10%;
}


/* School Menu*/

/*full*/


div#header div#school_menu{
    margin-left:auto;
    margin-right:auto;
    height:120px;
    overflow: hidden;
}

div#header div.schoolmenu-design{
    max-width:910px;
    margin-left: auto;
    margin-right:auto;
    position:relative;
    top:50px;
    overflow: hidden;
    height:60px;
}

div#header div#school_menu ul{
      
}

div #header div#school_menu li {
    float:left;
    padding-right:1.4em;
    padding-left:0.25em;
    margin-left:0;
    margin:0;
    background: url(../images/decorazioni/separator_menu.png) no-repeat center right;
    
}


div#header div#school_menu li a {
    display: block;
    margin: 0;
    text-decoration: none;
    font-weight:bold;
    text-align:center;
    font-family: sans-serif;
    font-size:1.8em;    
    color:#273236;
}

div#header div#school_menu li a:hover{
    color:#a70206;
    text-decoration: underline;
}


div #header div#school_menu li.current{
    clear:both;
}




div#header div#school_menu div.macro-slide{
    float:right;
    height: 120px;
    position: relative;
    top:-60px;
    background: url(../images/decorazioni/macro_indent.png) no-repeat center left #3c576a;
    width:170px;
    
}

div#header div#school_menu div#Progetti{
    background: #a60304;
    
}



div#header div#school_menu div.macro-slide a{
    color:white;
    font-size:2em;
    display:block;
    margin-top:40px;
    padding-left:30px;
    
}

div#header div#school_menu div.macro-slide a:hover{
    text-decoration: underline;
}

/*compact*/


div#header div#school_menu div#highlight_section{
    
    height: 120px;
    position: relative;
    float:left;
    background: #3c576a;
    width:230px;
    text-align: center;
    display:table;
   
}
div#header div#school_menu div#highlight_section a{
    color:white;
    display:table-cell;
    font-size:3em;
    vertical-align: middle;
}


div#header div#school_menu div#current-school {
    float:left;
    padding-right:2em;
    margin-right:2em;
    background:#f2f2f2;
}

div#header div#school_menu div#current-school a{
   float:left;
   
}

div#header div#school_menu div#current-school span{
    float:right;
    font-weight: bold;
    font-size:3em;
    position:relative;
    padding-left:1em;
    top:1em;
    color:#273236;
   
}

div#header div#school_menu div#current-school span:first-letter{
    color:#a60304;
}

div#header div#school_menu div.subtree_title{
    float:left;
    width:5em;
    text-align:left;
    font-size:4em;
    font-weight:bold;
    margin-top:0.3em;
}

div#header div#school_menu ul.top_school_big{
    float:left;

}

div#header div#school_menu ul.top_school_big div.subtree_title{
    width:7em;
    height:2em;
    margin:0;
    overflow:visible;
}

div#header div#school_menu li.micro_tabs{
    background: none;
    font-size:0.9em;
    padding-right:0.5em;
}


div#header div#school_menu li.micro_tabs a{
    color:#c6c6c6;
}


div#header div#school_menu a.sch_button_big{
    height:150px;
    width:150px;
    float:left;
}






