div#page {
    width: 100%;
    text-align: left;
    background:white;
}

div#page-width1, div#page-width2, div#page-width3
{
    position: relative;
}
div#page-width1, div#page-width2, div#page-width3, div#page-width4, div#page-width5, div#page-    , div#page-width7
{
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

div#header
{

    height:auto;

}
div#header ul
{
    margin: 0;
    padding: 0.25em 0 0.25em 0;
}
div#header ul li
{
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    display: inline;
    margin-left: 1em;
    background-image: none;
}
div#logo
{

    color:#42456c;
    font-weight:bold;
    height:50px;
    width:100%;
    background:#85868b;
}

div#logo span{
    float:left;
    color:white;
    position:relative;
    top:2.3em;
}

div#logo a{
    float:left;
    position:relative;
    color:white;
    font-size:3em;
    left:0.1em;
}
div#languages
{
    text-align: right;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    width:30%;
    float:right;
}
div#languages ul{
    float:right;
    height:2.5em;
    padding:0;
    padding-top:0.5em;
    padding-right:0.5em;
}
div#languages a
{
    color:#ffc03d;
    text-decoration: none;
    font-weight:bold;
    font-size:1.1em;
}

div#languages a:hover{
    color:#ff6c1e;
}
div#languages ul li
{
    display:block;
    float:right;
}

div#languages li.current_siteaccess a
{
    color: white;
    font-weight:bold;
    font-size:1.1em;
}



div#links{
    float:right;
    width:20%;
}


div#links ul.flat_menu li {
    display:block;
    float:left;
    line-height: 0.7em;
}
div#links a{
    color: white;
    text-decoration: none;
    font-size:0.9em;
}
div#links a:hover{
    color: white;
}
div#searchbox
{
    /*width: 40em;*/ /* Needs to be sufficient width to fit both text input and submit button to avoid Konqueror breaking the line between them */
    margin-right: 1em;
    height:3em;
    text-align: right;
    width:100%;
    background:#273236;
}

div#searchbox div#search-form{
    float:left;
    width:40%;
}

div#searchbox form#search-input{
    padding:1em;
}

input#searchtext
{
    border: 1px solid #c3c7c5;
    background-position: left bottom;
    background-repeat: repeat-x;
    font-size: 0.85em;
    height: 15px;
    padding: 0;
    width: 222px;
    float: left;
    margin-right: 5px;
}
input#searchbutton
{
    margin-top: 0;
    margin-bottom: -0.5em;
    display: block;
    background: none;
    border:0;
    color:white;
}
input#searchbutton:hover{
    color:#ff6c1e;
}