/* 
    Document   : article
    Created on : Dec 7, 2009, 10:14:35 AM
    Author     : mosa
    Description:
    article block display
*/

div.content-view-full div.block-item div.class-article{

}

div.content-view-full div.block-item div.class-article h2 a{
    color:white;
}
div.content-view-full div.block-item div.class-article h2 a:hover{
    color:#FFE8AB;
}