/* 
    Document   : 2zones-1
    Created on : Dec 7, 2009, 10:16:10 AM
    Author     : mosa
    Description:
     2zones layout 2
*/
div.zone-layout-2zoneslayout1 div.border-mc
{
    padding: 0;
}

div.zone-layout-2zoneslayout1 div.content-columns
{
    padding: 0 0 0 486px;
}

div.zone-layout-2zoneslayout1 div.leftcol-position
{
    width: 486px;
    margin-left: -486px;
}