/* 
    Document   : 3zon
    Created on : Dec 7, 2009, 10:13:55 AM
    Author     : mosa
    Description:
     3 zone layout
*/

div.zone-layout-3zone {
    margin-top:3em;
}
div.zone-layout-3zone div.sinistra{
    width:53%;
    float:left;
    padding: 0 1%;
}
div.zone-layout-3zone div.centrale{
    float:left;
    width:25%;
    padding:0 1%;
}
div.zone-layout-3zone div.destra{
    float:left;
    width:16%;
    padding:0 1%;
}