.content-view-full .attribute-header h1{
    float:left;
    padding-right:1em;
    position:relative;
    top:0.7em;
}
.content-view-full .attribute-header a{
    float:left;
}

.content-view-full .attribute-header{
    overflow:hidden;
padding-bottom:2em;}