/* 
    Document   : common.css
    Created on : Nov 27, 2009, 9:38:08 AM
    Author     : mosa
    Description:
*/

/* 
  Style sheet for common elements 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

fieldset.bigform{
    margin-top:2em;
    border:0px;
    background:white;
}
div.bigform h4{
    float:left;
}
div.attribute-info{
    margin-top:2em;
}
div.short{
    width:30%;
}
div.medium{
    width:60%;
}
div.veryshort{
    width:8%;
}
div.attribute-date{
    float:left;
    margin-right:3em;
    margin-top:2em;}
div.attribute-date input {
    float:left;
}
div.attribute-date label{
    float:left;
    width:5em;
}
div.attribute-message{
    float:left;
    margin-right:3em;
    margin-top:2em;
}
div#semaphore{
    width:30px;
    height:30px;
    float:left;
    margin-right:2em;
}
table.users_list{
    width:100%;
    margin-top:2em;
    border-spacing:0;}
table.users_list thead{
    background:#d1d1d1;
}
table.users_list thead tr{
    height:3em;
}
table.users_list th{
    border:0;
    border-bottom:2px solid gray;}
table.users_list td{
    height:2.5em;
    border-bottom:2px solid gray;}
div#csv{
    background:url(../images/download_small.png) no-repeat left;
    height:70px;
    margin-top:2em;
    width:12.5em;
}
div#csv a{
    display:block;
    float:right;
    position:relative;
    top:2.5em;
    font-size:1.2em;
}
div#email_form{
    background:#f1f1f1;
    padding:1em;
    margin-top:2em;
    overflow:hidden;
}
div#email_form textarea{
    float:left;
}
div#email_form button{
    float:left;
    margin-top:0.3em;
    padding:0.5em;
}
div.loading{
    background:url(../images/loading_big.gif) no-repeat center;
    width:100%;
    height:300px;

}
span.tick{
    background:url(../images/tick.jpg) no-repeat;
    height:60px;
    width:60px;
    display:block;}
a.pdf{
    background:url(../images/pdf.png) no-repeat;
    display:block;
    height:32px;
    width:32px;
    float:left;
}
button.unsubscribe{
    float:left;
    margin-top:5px;
    margin-right:5px;
}
div.subform{
    background:#d2d2d2;
    padding:1%;
    margin-top:2em;
    overflow:hidden;
    width:98%;
    float:left;
}
div#prog_cont{
    float:left;
    clear:both;
    width:100%;
    margin-bottom:2em;
}
div.step{
    background:#d7d7d7;
    padding:1%;
    margin-bottom:1em;
    margin-top:1em;
    overflow:hidden;
}
.user div{
    background:white;
    padding:1em;}
.price{
    display:none;
    vertical-align:bottom;
}
.price h4{
    display:inline;
}
div#payment_info span{
    display:none;
}
div.ui-dialog-titlebar{
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -o-border-radius:7px;
    border-radius:7px;
    background:gray;
    height:2em;}
div.ui-dialog-titlebar a{
    color:white;
}

div.ui-dialog-buttonpane{
    background:#a1a1a1;
    height:2em;
}
div.ui-dialog{
    -moz-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
    -webkit-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
    -o-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
    -khtml-box-shadow:3px 3px 8px rgba(154,154,154,0.9);
    box-shadow:3px 3px 8px rgba(154,154,154,0.9);}
div.ui-widget-overlay{
    background:gray;
    opacity:0.5;
    left:0;
    top:0;
    position:absolute;}
div.date{
    width:22%;}
div.date label{
    float:left;}
div.date select{
    float:left; }
p.label{
    float:left;
    font-weight:bold;
    margin-right:0.25em;}
div#subscription_reminder{
    color:red;
    font-weight:bold;
}
div#n_subscriptions{
    width:5em;
    height:1em;
    float:left;
    font-size:1.2em;
    font-weight:bold;
    padding-top:0.3em;
}
div#substate_edit{
    float:left;
    margin-top:2em;
    width:100%;}
span.stop_registration{
    font-weight:bold;
    font-size:1.1em;
}
div#accounting_form{
    float:left;}
div#accounting_form label{
    float:left;margin-top:0.3em;}
div.subscription-buttons{
    float:left;
    margin-right:2em;}
div.checkbox_list{
    float:left;}
div#info_dialog{
    background:white;
    overflow:hidden;}
ul.list li{
    float:left;}
ul.list{
    list-style-type:square;
}
.content-view-line h4{
    display:inline;
    color:white;
    font-size:1.5em;}
.content-view-line div.class-course{
    background:#d1d1d1;
    padding:1em;
    margin-bottom:1em;}
.content-view-line div.class-course img{
    vertical-align:middle;}
.content-view-line div.class-course div.attribute-header{
    display:table-cell;
    vertical-align:middle;
    width:100%;
    height:60px;
}