div.content-view-full div.corso div.attribute-image{
    float:left;
    padding-right:1em;
}

div.corso div#corso_menu{
    width:12%;
    float:right;
    padding:1em;
    background-color:white;
    border:3px solid #457eb1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    min-height:500px;

}
div.corso div.corso_column{
    width:83%;
}

div.content-view-full div.corso div.attribute-header h1{
        width:100%;
        padding:0;
        margin-bottom:1em;
        border-bottom: 2px solid gray;
}
div.content-view-full div.corso div.partecipanti a{
    display:block;
    float:left;
    clear:both;
    background:url(../images/icons/school-icon_medium.png) no-repeat left;
    padding-left:70px;
    height:40px;
    padding-top:16px;
    color:#306393;
}
div.content-view-full div.corso div.partecipanti {
    width:100%;
    margin-top:6em;
}