div.class-net div#map{
    float:left;
}

div.class-net div.attribute-partners{
    float:left;
    width:150px;
    margin-left:20px;
}

div.class-net div.attribute-relation{
    margin-bottom:2em;
}