a.disabled{
    color:gray;

}

div.immagine_scuola{
    clear:both;
    float:left;
    margin-right:2em;
}
div.class-scuola div.attribute-long{
    padding-bottom:2em;
}

div.partecipanti{
    float:left;
    width:30%;
}

div.scelta_scuole{
    width:100%;
    height:auto;
    background:#e3e3e3;
    overflow:hidden;
    padding:1em 1em 0;
    margin:0 0 1.5em;
    -moz-border-radius:15px;
}


div.scelta_scuole div.istituti div.sch_block{
    text-align:center;
    margin:0;
    padding:0;
    width:12em;
}

div.content-view-full div.class-scuola div.map-container{
    height:400px;
    width:93%;
}

div.scelta_scuole div.istituti div.sch_block a{
    float:left;
    margin-top:1em;
    text-align:left;
}