div.content-view-full div.class-ticket table.list{
    float:right;
    margin-left:2em;
    width:30%;

}
div.content-view-full div.class-ticket div.attributes-block{
    
}

div.controlbar{
    clear:both;
    overflow: hidden;
        margin-bottom:2em;
}

div.controlbar div.element{
        float:left;
        padding:0.5em;
        
}