/* 
    Document   : columns
    Created on : Jul 21, 2009, 8:58:41 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/* COLUMNS */
div#columns
{
    padding: 0 284px 0 14em;
}
div.nosidemenu div#columns
{
    padding-left: 0;
}
div.noextrainfo div#columns
{
    padding-right: 0;
}

div.content-view-rightbar{
    float:left;
    width:85%;
}

div.rightbar{
    float:left;
    width:13%;
    margin-left:1%;
    padding-left:1%;
}
/*registration info*/

div.right-column{
    width:20%;
    float:left;
    margin:2%;
    padding:2%;
}
div.left-column{
    width:60%;
    float:left;
    margin:2%;
    padding:2%;
}
div.left-column div.buttonblock{
    margin-top:2%;
}
