/* 
    Document   : menu
    Created on : Jul 21, 2009, 8:52:40 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* PROF MENU*/
ul.menu_indent{
    position:relative;
    left:1em;
}

div#prof_menu{
    float:left;
    padding:1em;
    width:10%;
}
div.classe_center{
    float:right;
    width:89%;
}
/* School Menu */
/*reset layout*/


div#header div#school_menu div.schoolmenu-design{

}

div#header div#school_menu{
    margin-left:auto;
    margin-right:auto;
    width:910px;
    height:15em;
    position:relative;
    top:6.5em;
}

div #header div#school_menu ul{
    margin-left:13%;}

div #header div#school_menu li.current{
    clear:both;
    position:relative;
    bottom:2.5em;
}

div #header div#school_menu li {
    float:left;
    display:block;
    padding-right:0.25em;
    padding-left:0.35em;
    margin-left:0;
    position:relative;
    bottom:1.8em;

}
div#header div#school_menu span{
    color:#737373;
    font-size:1em;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

div#header div#school_menu li.micro_tabs span{
    color:#737373;
    font-size:1em;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
div#header div#school_menu  span.sch_name{
    display:block;
    width:5em;
    position:relative;
    top:0.8em;
    font-size:1.3em;
    color:white;
    background:url(../images/decorazioni/dropdown_background.png) repeat;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -o-border-radius:7px;
    -khtml-border-radius:7px;
    border-radius:7px;
    padding:0.3em;
}
div#header div#school_menu li,a,ul {
    margin:0;
    /*padding:0;*/
}

div#header div#school_menu li a {
    display: block;
    margin: 0;
    /*padding: 8px 16px;*/
    text-decoration: none;
    font-weight:normal;
    height:105px;
    width:105px;
    text-align:center;
}


a.sch_button_big  img{
    margin-top:0.7em;
}
div#header div#school_menu li a.sch_button img,div#header div#school_menu li a.macro_button img{
    clear:both;
    padding:0;
    border:none;
    /*position:relative;
    left:-7px;*/
}

div#header div#school_menu div.subtree_title{
    float:left;
    width:5em;
    text-align:left;
    font-size:4em;
    font-weight:bold;
    margin-top:0.6em;
    color:#737373;
    margin-left:0.5em;
}
div#header div#school_menu li.micro_tabs{
    float:left;
    padding:0.5em;
    clear:right;
    border-bottom:2px solid #FFA800;
    margin:0.1em 0 0 0.8em;
    position:relative;
        }

div#header div#school_menu li.micro_tabs a{
    width:105px;
    height:auto;
}
div#header div#school_menu li.micro_tabs a.button_small span.micro_name:hover{
    color:white;

}
div#header div#school_menu li a:hover img {
    border:none;
}
div#header div#school_menu li a:link, div#school_menu li a:visited {
    color: black;
    display: block;
    /*padding: 8px 0 0 10px;*/
}
div#header div#school_menu a.button_small:hover span.sch_name{
    color:white;
}

div#header div#school_menu a.sch_button{
    background:url(../images/decorazioni/back_sch_button.png) no-repeat;
}
div#header div#school_menu a.sch_button:hover{
    background:url(../images/decorazioni/back_sch_button_over.png) no-repeat;
}
div#header div#school_menu a.sch_button_big{
    background:url(../images/decorazioni/back_sch_button_big.png) no-repeat;
    height:150px;
    width:150px;
    float:left;
}
div#header div#school_menu li.current a.sch_button{
    background:url(../images/decorazioni/back_sch_button_over.png) no-repeat;}
div#header div#school_menu a.macro_button{
    background:url(../images/decorazioni/back_macro_button.png) no-repeat;
}
div#header div#school_menu a.macro_button:hover{
    background:url(../images/decorazioni/back_macro_button_over.png) no-repeat;
}
div#header div#school_menu a.macro_button_big{
    background:url(../images/decorazioni/back_macro_button_big.png) no-repeat;
    height:150px;
    width:150px;
    float:left;
}
div#header div#school_menu li.current a.macro_button{
    background:url(../images/decorazioni/back_macro_button_over.png) no-repeat;}
/* SIDE MENU */


div#sidemenu-position
{
    background-color:white;
    width: 16em;
    margin-left: -16em;
    float: left;
    display: inline; /* Fix for IE double margin bug */
}
div.nosidemenu div#sidemenu-position
{
    display: none;
}

div#sidemenu
{
    padding:1em;
    margin-left:1em;
    min-height:40em;
}

div#sidemenu  div.border-box
{
    padding:0;
    background:white;
    overflow:hidden;
}

div#sidemenu span{
    float:right;
    font-family:arial;
    font-weight:bold;
    color:white;
    font-size:1.2em;
}

div#sidemenu h4
{
    font-size:1.2em;
    margin: 0;
    width:100%;
    height:2em;
    color:#B1B1B1;
    padding-top:0.2em;
}

div#sidemenu h4:before{
    content:':: ';
}

div#sidemenu h2.header{
    color:#B1B1B1;
    text-align:left;
    font-weight:bold;
    font-size:2em;
}

div#sidemenu ul
{
    list-style-type: none;
    margin: 0;
}
div#sidemenu ul li
{
    margin:0 0 1px;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    background-image: none;
    color:white;
}

div#sidemenu ul.submenu-list{}
div#sidemenu div.first_level_menu{
    height:2.5em;
}

div#sidemenu a{
    font-weight: bold;
}

div#sidemenu ul.menu-list li a.parent-menu{
    background:gray;
    padding-left:0.5em;
}

div#sidemenu h4 a{
    color: #525345;
    text-decoration: none;
}

div#sidemenu ul.menu-list li a{
    height:100%;
    line-height:2em;
    vertical-align:middle;
    text-decoration:none;
}
div#sidemenu ul.menu-list li div.first_level_menu a.selected
{
    background:#FFA800;
    color:white;
    border:0;
}
div#sidemenu ul.menu-list li div.first_level_menu a.current{
    background:#FFA800;
    color:white;
}

div#sidemenu ul.submenu-list a.selected
{
    background:#FFA800;
    color:white;
}


div#sidemenu li div.first_level_menu a:hover{
    background:#FFA800;}
div#sidemenu li div.first_level_menu a{
    font-size:1.1em;
    padding-left:0.5em;
    background:#B1B1B1;
    color:white;
}

div#sidemenu li a.selected:before{
    margin-right:0.25em;
}

div#sidemenu  ul li div.second_level_menu a{
    font-size:0.9em;
    padding-left:1em;
    color:#B1B1B1;
    background:white;
}

div#sidemenu ul li div.second_level_menu a.selected{
    color:#FFA800;
    background:white;
}
div#sidemenu li div.second_level_menu a.current{
    color:#FFA800;
    background:white;
}
div#sidemenu li div.second_level_menu a:hover{
    color:#FFA800;
}

div#sidemenu li div.second_level_menu a span{
    color:gray;
}
div#sidemenu li div.third_level_menu a:hover{
    background:#767676;
    color:white;
    font-weight:bold;
}
div#sidemenu li div.third_level_menu a{
    font-size:0.8em;
    padding-left:2em;
    color:gray;
}

div#sidemenu li div.fourth_level_menu:hover{color:#949494;}
div#sidemenu li div.fourth_level_menu a{
    font-size:0.7em;
    padding-left:3em;
    color:gray;
}

div#sidemenu ul.menu-list li a, div#sidemenu ul.submenu-list li a
{
    display: block;
}

div#sidemenu select.select_prof{
    width:11em;
    margin-top:1em;

}