/* 
    Document   : browselist.css
    Created on : Aug 7, 2009, 11:53:37 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div.ezcca-edit-teachwhere{}
div.ezcca-edit-teachwhere div.class-element{float:left;
margin-left:1em;

padding-left:1em;}
div.ezcca-edit-teachwhere ul.selection-class{list-style:none;}
div.ezcca-edit-teachwhere ul.selection-class li.node{float:left;
}
div.ezcca-edit-teachwhere ul.selection-class li.node-school-name{
    clear:both;
    display:block;
    border-bottom: 2px dotted #767676;
    padding:0.5em;
    font-weight:bold;
}
div.ezcca-edit-teachwhere  div.class-element label{
    padding-right:0;
    padding-left:0.2em;
}