table
{
    font-size: 1em; /* Fix for size "loss" in tables in IE; redundant for most other browsers */
    margin: 0;
    padding: 0;
}

th, td
{
    padding: 0;
}

table.list /* Standard class usable for most regular tables presenting lists, with additional related styles */
{
    width: 100%;
    margin: 1em 0 1em 0;
    border: none;
}

table.list th, table.list td
{
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: none;
    vertical-align: top;
}

table.list tr.bgdark td.class{
    color:white;
}

table.list th
{
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.5);
    white-space: nowrap;
    text-align: left;
    background-repeat: repeat-x;
    background-position: top left;
}

table.list td
{
    border-top: 1px solid #f8f8f8;
    font-weight: normal;
}

table.list th:first-child, table.list td:first-child
{
    border-left: 1px solid #ffffff;
}

table.list tr.bglight
{
    background-color: rgba(255,255,255,0.7);
}

table.list tr.bglight a
{
   color: black;
}

table.list tr.bgdark
{
    background-color: rgba(0,0,0,0.5);
}

table.list tr.bgdark a{
    color:white;
}
table.list tr.bgdark a:hover{
    color:black;
}

table.list tr.bglight:hover, table.list tr.bgdark:hover /* This has no effect in IE6 and below */
{
    background-color: #ffffff;
    }

table.list tr.bglight:hover td, table.list tr.bgdark:hover td
{
    border-color: #ffffff;
    color:black;
}



table.list img
{
    vertical-align: middle;
}

th.tight, td.tight
{
    width: 1%;
}

td.nowrap
{
    white-space: nowrap;
}

td.number
{
    text-align: right;
}