/* 
    Document   : infobox
    Created on : Dec 6, 2009, 8:35:59 PM
    Author     : mosa
    Description:
    Infobox full view
*/

/* Infobox - header*/


div.infobox{
    overflow: hidden;
}

div.infobox-header
{
    margin-bottom: 0;
}
div.infobox-header h2
{

}

/* Infobox */
div.infobox div.attribute-image
{
    margin: 0.5em 0.5em 0.5em 0;
    float: left;
}
div.infobox div.controls
{
    padding-top: 0.5em;
    text-align: right;
    border-top: 1px dotted #EAE8E1;
}
