/* 
    Document   : zones.css
    Created on : Jul 20, 2009, 11:03:00 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* GLOBAL ZONE: START */
div#extrainfo div.border-mc
{
    padding: 0;
}
/* GLOBAL ZONE: END */


/* 3zone m2000: START*/
div.zone-layout-3zone div.sinistra{
    width:53%;

    float:left;
    padding: 0 1%;

}
div.zone-layout-3zone div.centrale{

    float:left;
    width:25%;
    padding:0 1%;
    background:#f8fbe2;
}
div.zone-layout-3zone div.destra{

    float:left;
    width:16%;
    padding:0 1%;
}
div.class-article div.color_block{
    background:url(../images/decorazioni/sfondo_evidenza.png) repeat-x;
    height:117px;
    border:2px solid #9ea036;
    margin-bottom:1em;
    padding:0.3em 0.5em 0;
}

/* 3zone m2000: END*/

/* COLUMNS 2zones START */

div.zone-layout-2zone{
    clear:right;
}
div.zone-layout-2zone div.colonna_s
{
    width:46%;
    float:left;
    margin:1%;
    padding:1%;
    background:#e0e0e0;
}

div.zone-layout-2zone div.colonna_d
{
   width:46%;
   margin:1%;
   padding:1%;
   float:left;
}
div.zone-layout-2zone div.pos_colonne{
    overflow:hidden;
    width:100%;
}



/* COLUMNS 2zone: END */


/* COLUMNS 3zoneslayout1: START */

div.zone-layout-3zoneslayout1 div.border-mc
{
    padding: 0;
}

div.zone-layout-3zoneslayout1 div.content-columns
{
    padding: 0 0 0 486px;
}

div.zone-layout-3zoneslayout1 div.leftcol-position
{
    width: 486px;
    margin-left: -486px;
    background:none;
}

/* COLUMNS 3zoneslayout1: END */

/* COLUMNS 3zoneslayout2: START */

div.zone-layout-3zoneslayout2 div.border-mc
{
    padding: 0;
}

div.zone-layout-3zoneslayout2 div.content-columns
{
    padding: 0 0 0 284px;
}

div.zone-layout-3zoneslayout2 div.leftcol-position
{
    width: 284px;
    margin-left: -284px;
}

/* COLUMNS 3zoneslayout2: END */

/* COLUMNS 4zoneslayout1: START */




div.zone-layout-4zone  div.content-columns
{
   float:left;

   width:60%;
}
div.zone-layout-4zone div.left-subzone{

}
div.zone-layout-4zone div.left-subzone div.col-0{
    float:left;
    width:100%;
    clear:both;
}
div.zone-layout-4zone div.left-subzone div.two-columns{float:left;
width:100%;
margin-top:1em;}
div.zone-layout-4zone div.left-subzone div.col-1{
    float:left;
    width:47%;
    padding:1%;
    
}
div.zone-layout-4zone div.left-subzone div.col-1 div.attribute-header h2 {background:#ffa800;}

div.zone-layout-4zone div.left-subzone div.col-1 div.attribute-header h2 a{color:white;}

div.zone-layout-4zone div.left-subzone div.col-2{
    float:left;
    width:47%;
    margin-left:2%;
    padding:1%;
    
}
div.zone-layout-4zone div.left-subzone div.col-2 div.attribute-header h2 {background:gray;}

div.zone-layout-4zone div.left-subzone div.col-2 div.attribute-header h2 a{color:white;}
div.zone-layout-4zone div.content-columns {padding:0;}
div.zone-layout-4zone  div.maincol-position
{
   float:left;
   width:33%;

   margin-left:2%;
   padding:2%;
   background:#e0e0e0;
}
div.zone-layout-4zone  div.maincol-position div.right-subzone{ }

/* COLUMNS 4zoneslayout1: END */

/* CONTENT EDIT FRONTPAGE: START */

div.content-edit-frontpage div.content-columns
{
    padding: 0 0 0 225px;
}

div.content-edit-frontpage div.leftcol-position
{
    width: 225px;
    margin-left: -225px;
}

div.content-edit-frontpage div.maincol
{
    padding-left: 10px;
}

div.content-edit-frontpage div.border-mc
{
    padding-left: 5px;
    padding-right: 5px;
}

/* CONTENT EDIT FRONTPAGE: END */