/* 
    Document   : 4items
    Created on : Dec 7, 2009, 9:54:31 AM
    Author     : mosa
    Description:
       4items-1 style
*/

div.block-type-4items{
    float:left;
    overflow:hidden;
    width:100%;
}

div.block-type-4items h2
{
    margin-top: 0;
    color: gray;
    font-size: 1em;
    background:#a4a1a1;
    padding:0.2em;
}

div.block-type-4items h2 a
{
    color: white;
    text-decoration: none;
}
div.block-type-4items h2 a:hover{
    color:black;
}

div.block-type-4items div.block-style2-box-inside div.separator
{
    background-repeat: repeat-x;
    height: 20px;
}

div.block-type-4items div.class-article
{
    padding: 0 4px 0 4px;
}

div.block-type-4items div.attribute-image
{
    float: left;
    margin-right: 0.5em;
    margin-left: 0;
}

div.block-type-4items div.two-columns{
    width:100%;
    float:left;
}
div.block-type-4items div.two-columns div.col-1{
    width:48%;
    float:left;
    margin-left:1%;
}
div.block-type-4items div.two-columns div.col-2{
    width:48%;
    float:left;
    margin-left:1%;
    padding-left:1%;
}

