/* 
    Document   : itemlist
    Created on : Dec 7, 2009, 9:56:18 AM
    Author     : mosa
    Description:
        items list block style
*/

.block-type-itemlist
{
    float:left;
    overflow:hidden;
    width:100%;
}
.block-type-itemlist>div.attribute-header>h2 {
    font-size: 1.1em;
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: gray;
    margin: 0;
    padding: 0 0 2px 0.5em;
    font-weight:bold;
    border-bottom:2px solid white;
    text-transform: uppercase;

}
.block-type-itemlist .block-content
{

    padding-bottom: 0.25em;
}
.block-type-itemlist .block-content a
{
    color: gray;
    text-decoration: none;
}
.block-type-itemlist .block-content a:hover{
    color:black;
}
.block-type-itemlist .block-content ul
{
    margin-top: 0.5em;
    margin-left: 0;
    padding-left: 0.75em;
}

.block-type-itemlist .block-content ul li
{
    list-style: none;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1em;
    margin-left: 0;
    margin-bottom: 0.25em;
    border-bottom:2px solid gray;
    margin-right:1em;
}