/* 
    Document   : poll
    Created on : Dec 7, 2009, 9:59:12 AM
    Author     : mosa
    Description:
        block poll style
*/

div.block-type-poll div.class-poll
{
    padding: 0 4px 4px 4px;
}

div.block-type-poll h2
{
    margin-top: 0;
    color: #2e81a1;
    font-weight: normal;
}

div.block-type-poll h3
{
    margin-top: 0;
    font-size: 0.9em;
    font-weight: normal;
}

div.block-type-poll label
{
    font-weight: normal;
}