/* 
    Document   : gallery
    Created on : Dec 7, 2009, 9:15:37 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        gallery embed view style
*/
div.content-view-embed div.class-gallery div.content-view-children
{
    background: none;
}