
div.attribute-article-index-blocchi-line li {
    height:50px;
    width:250px;
    float:left;
    
    font-weight:bold;
    font-size:1.2em;
    margin-right:0.5em;
    background:#a9a9a9;
    padding-bottom:0.5em;
}

div.attribute-article-index-blocchi{
    width:80%;
    overflow:hidden;
    margin-bottom:2em;

}
div.attribute-article-index-blocchi ol li{
    float:left;
    display:block;
    height:100px;
    width:100px;
   
    font-weight:bold;
    font-size:1.2em;
    margin-right:0.5em;
   
}
div.attribute-article-index-blocchi ol li.current,div.attribute-article-index-blocchi-line ol li.current{
   
    border:2px solid #a70304;
    
}
div.attribute-article-index-blocchi ol li span,div.attribute-article-index-blocchi-line ol li span{
    display:block;
    margin-top:1em;
    margin-right:0.5em;
    
}
div.attribute-article-index-blocchi ol li a,div.attribute-article-index-blocchi-line ol li a{
    display:block;
    margin-top:1em;
    margin-right:0.5em;
    text-decoration:none;
    }

div.attribute-article-index
{
    border-top:2px dotted #273236;
    border-bottom:2px dotted #273236;
    clear: right;
    padding-top:0.4em;
    padding-bottom: 0.3em;
}

div.attribute-article-index  .current{
    background: url(../images/props/current.gif) no-repeat center left;
}

div.attribute-article-index ol li{
    margin:0;
    
}