/* 
    Document   : headers
    Created on : Jul 20, 2009, 11:07:41 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/


div.attribute-header h1, div.attribute-header h1.long
{
    color: #000000;
    font-size: 1.6em;
    background-image: none;
    padding-bottom: 0.75em;
}