div.content-edit{
    background: rgba(255,255,255,0.8);
    padding:1em;
}
div.content-edit div.attribute-header h1.long{
    font-family: Arial;
    color:black;
    text-shadow:none;
    font-size:1.7em;
    font-weight: bold;

}

div.content-edit div.block input#set-zone-layout{
    height:30px;
    width:80px;
    background-color:black;
    font-weight: bold;
    color:white;
}

div.content-edit div.block input.button,
div.content-edit div.buttonblock input.defaultbutton,
div.content-edit div.buttonblock input.button
{
    -moz-border-image:none;
    -webkit-border-image:none;
    border-image:none;
    background:black;
    border:1px solid white;
    color:white;
    font-family: arial;
    font-size:1em;
    height:30px;
    width:150px;
    font-family:arial;
    font-weight: bold;
    font-size:1.2em;
    margin-right:1em;
    -moz-box-shadow:1px 1px 3px black;
    -webkit-box-shadow:1px 1px 3px black;
}

div.content-edit div.block input.button:hover,
div.content-edit div.buttonblock input.defaultbutton:hover,
div.content-edit div.buttonblock input.button:hover
{
    color:yellow;
    -moz-box-shadow:1px 1px 1px black;
    -webkit-box-shadow:1px 1px 1px black;
}