div.content-edit-frontpage{
    background:rgba(255,255,255,0.8);
}


div.content-edit-frontpage div.content-edit{
    background: none;
}
div.content-edit-frontpage div.leftcol-position{
    width:20%;
    display:block;
    margin:0;
    padding:0;
   }

div.content-edit-frontpage div.maincol-position{
    width:80%;
   }

div.content-edit-frontpage div.content-columns{

}

div.content-edit-frontpage input#addtoblock{
    -moz-border-image:none;
    -webkit-border-image:none;
    border-image:none;
    background: black;
}