div.user-edit div.password_field{
    position:absolute;
    visibility: hidden;
}
div.user-edit h4.mandatory{
    color:black;
}

div.user-edit div.password_strength {
    color:white;
    font-weight:bold;
    height:20px;
    padding:1em;
    position:relative;
    top:1em;
}

