/* 
    Document   : blog.css
    Created on : Jul 20, 2009, 9:32:21 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


div.content-view-line  div.event-blog-icon{
   
    background:#989898 url(../images/icons/moleskin.png) no-repeat center;

}
div.content-view-line  div.event-blog-icon a{color:white;}

div.class-blog
{
    width: auto; /* This can be changed to any fixed width if desired */
    margin: 0 auto 0 auto; /* General method for centering content if fixed page width, for other browsers than IE */
    text-align: left; /* Reset IE method for centering page, to stop all other content on the page from centering */
}

div.columns-blog
{
    padding: 0 17em 0 0;
}

div.main-column-position
{
    width: 100%;
    float: left;
}

div.noextrainfo div.main-column
{
    margin-right: 0;
}

div.extrainfo-column-position
{
    width: 17em;
    margin-right: -17em;
    float: left;
}

div.columns-blog div.main-column
{
    margin: 0 0.25em 0 0; /* Space between main and other columns */
}

div.class-blog div.attribute-byline p.tags
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}

div.class-blog div.attribute-byline p.author
{
    margin-right: 0.2em;
    display: inline;
    font-size: 0.9em;
}

div.class-blog div.attribute-byline p.date
{
    margin: 0 0.2em 0 0;
    display: inline;
    color: #CCCCCC;
    font-size: 0.9em;
}

div.content-view-line div.class-blog-post div.attribute-header a
{
    text-decoration: none;
    color: #000000;
}

div.content-view-line div.class-blog-post div.attribute-header a:hover
{
    color: #000000;
}

