/* 
    Document   : frontpage.css
    Created on : Jul 20, 2009, 9:35:53 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


div.attribute-page{overflow:hidden;}

div.frontpage-footer{
    border-top:2px solid gray;
    font-size:0.9em;
    margin-top:2em;
    text-align:justify;
}


/*FRONTPAGE M2000"*/
div.class-m2000_front{
}
div.class-m2000_front img{
    float:left;
}
div.class-m2000_front div.frontpage_header{
    background:#e8f5ec;
    padding:2em 0 2em 2em;
    overflow:hidden;
}
div.class-m2000_front h1.section_header{
    float:left;
    font-size:3em;
    width:3em;
    padding-left:1em;}

div.ufficio_icon{
   width:161px;
   height:171px;
   padding:1em;
   background:url(../images/decorazioni/sfondo_icona.png) no-repeat;
   margin-top:1.5em;
   float:left;
}
div.ufficio_icon a{
    color:white;
}
div.ufficio_icon h2,span{
}

/*FRONTPAGE SCUOLA*/


div.class-frontpage_scuola div.responsabile{

}
div.class-frontpage_scuola div.responsabile h3{

}

div.class-frontpage_scuola div.responsabile{
margin-top:2em;
clear:both;
padding:0.5em;
background:url(../images/decorazioni/highlight.png);
}
div.responsabile a{
   font-weight:bold;
   color:white;
   
    }
div.responsabile h3{
       font-size:1.2em;
    
}

div.class-frontpage_scuola h2.section_header{
    font-size:2em;
    background-color:#b6d0c5;
}
div.class-frontpage_scuola div.foto{
    float:left;
    padding:0 1em 0 0;
}
div.class-frontpage_scuola div.frontpage_header{
overflow:hidden;
}
div.class-frontpage_scuola div.frontpage_header div{
    text-align:justify;
}

/* CONTENT CLASSES: START */

div.content-view-full div.class-frontpage
{
    background-color: transparent;
    padding: 0;
}

div.content-view-full div.class-article div.attribute-short
{
    font-weight: normal;
}

div.content-view-full div.class-article div.attribute-byline
{
    background-image: none;
    padding-bottom: 0;
    margin-bottom: 1em;
}

div.content-view-full div.class-article div.attribute-long
{
    background-image: none;
    padding-bottom: 0;
}




div.content-view-full div.class-frontpage
{
    background-color: #FFFFFF;
    padding: 0 0.5em 0 0.25em;
}

div.content-view-full div.class-frontpage div.attribute-billboard
{
    text-align: left;
    margin-top: 0em;
    padding-top: 0.25em;
    background-color: #FFFFFF;
    background-image: url(../images/billboard_bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 22px;
}

div.content-view-full div.class-frontpage div.attribute-billboard img
{

}

div.content-view-full div.class-frontpage div.columns-frontpage
{
    padding: 0 246px 0 246px;
}

div.content-view-full div.noleftcolumn div.columns-frontpage
{
    padding-left: 0;
}

div.content-view-full div.norightcolumn div.columns-frontpage
{
    padding-right: 0;
}

div.content-view-full div.class-frontpage div.columns-frontpage div.left-column-position
{
    width: 246px;
    margin-left: -246px;
    float: left;
    display: inline; /* Fix for IE double margin bug */
}

div.content-view-full div.noleftcolumn div.columns-frontpage div.left-column-position
{
    display: none;
}

div.content-view-full div.leftcolumn div.columns-frontpage div.left-column-position div.left-column
{
    margin-right: 1em;
}

div.content-view-full div.class-frontpage div.columns-frontpage div.right-column-position
{
    width: 246px;
    margin-right: -246px;
    float: left;
}

div.content-view-full div.norightcolumn div.columns-frontpage div.right-column-position
{
    display: none;
}

div.content-view-full div.rightcolumn div.columns-frontpage div.right-column-position div.right-column
{
    margin-left: 1em;
}

div.content-view-full div.class-frontpage div.columns-frontpage div.center-column-position
{
    width: 100%;
    float: left;
}

div.content-view-full div.noleftcolumn div.columns-frontpage div.center-column-position div.center-column
{
    margin-left: 0;
    padding-right: 0;
}

div.content-view-full div.norightcolumn div.columns-frontpage div.center-column-position div.center-column
{
    margin-right: 0;
    padding-left: 0;
}
div.content-view-full div.class-frontpage div.columns-frontpage div.center-column-position div.center-column
{
    margin: 0; /* Space between main and other columns */
}

div.content-view-full div.class-frontpage div.attribute-bottom-column
{
    clear: both
}

