/* 
    Document   : generics
    Created on : Aug 14, 2009, 2:43:07 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.square-icon{
    clear:none;
    float:left;
    height:12em;
    width:12em;
    overflow:hidden;
    text-align:center;
    margin-right:1.5em;
    margin-top:1em;
   }

  .square-icon h2 a{
       color:white;
   }
   .square-icon h2 a:hover{
       color:black;
   }