/* 
    Document   : infoGalleryFactbox
    Created on : Jul 20, 2009, 9:34:55 PM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div.infobox div.controls
{
    padding-top: 0.5em;
    text-align: right;
    border-top: 1px dotted #EAE8E1;
}

/* GALLERY */

div.content-view-children div.content-view-line
{
    clear: left;
}

div.content-view-full div.class-gallery div.attribute-link
{
    clear: both;
}

div.content-view-full div.class-gallery div.content-view-galleryline
{
    
    margin: 0 1.25em 1em auto;
    padding: 5px;
    float: left;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image
{
    float: none;
    margin: 0;
    padding: 0;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image p
{
    
    margin: 0;
    padding: 0;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image img
{
    display: block;
    margin: 0;
    padding: 0;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-image a
{
    margin: 0;
    padding: 0;
    display: inline;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-name
{
    border-top: 1px solid #EFEEE9;
    background-image: url(../images/img_caption_bg.png);
    background-position: left top;
    background-repeat: repeat-x;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
}
div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-name p
{
    text-align:center;
    font-weight:bold;
    margin: 0;
    padding: 0.5em 0 0.4em 0;
}

div.content-view-full div.class-gallery div.content-view-children
{
    background-image: url(../images/attribute_header_bg_medium.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    margin:0;
    padding: 0 0 30px 0;
    float:left;
    width: 100%;
    clear: both;
}

div.content-view-embed div.class-gallery div.content-view-children
{
    background: none;
}

div.content-view-line div.class-gallery-small{
     background:#e9efec;
}




div.content-view-line div.class-gallery{
    overflow:hidden;
    margin-bottom:2em;
}

div.content-view-line div.class-gallery div.gallery-icon{
    float:left;
    margin-right:1.4em;
    height:120px;
}

div.content-view-line div.class-gallery h2{
    float:left;
    border-bottom:2px solid gray;
    margin-left:1em;
    background:none;
    width:30%;
}

div.content-view-line div.class-gallery div.attribute-short{
    float:left;
    width:80%;
}
div.content-view-line div.class-gallery div.attribute-short p{
    float:left;
    clear:both;
    margin-left:1em;
}
div.content-view-children h4.school-year{
    padding:0.5em;
    margin-bottom:2em;
    background:#cdcdcd;
}

/* FACTBOX */

div.factbox
{
    width: 17em;
}

div.factbox-header
{
    margin-bottom: 0;
}

div.factbox-header h2
{
    margin: 1px 0px 3px 0px;
    padding: 0;
    font-size: 16px;
}

