

div.content-view-full div.block-type-3items div.attribute-header{
    margin:0;
    padding:0;
  
}

div.content-view-full div.block-type-3items> div.attribute-header{
    margin-bottom:0.5em;
    border-bottom:2px solid gray;
}

div.block-type-3items div.attribute-header h2
{
    text-transform: uppercase;
    font-size: 0.85em;
    
}

div.block-type-3items div.class-article
{
    background-position: left 3px;
    background-repeat: no-repeat;
    padding-left: 16px;
}

div.block-type-3items div.class-article div.attribute-header h2
{
    font-size: 1em;
    background-image: none;
    text-transform: none;
    padding: 0;

}

div.block-type-3items div.class-article div.attribute-header h2 a
{
   
}

div.block-type-3items div.attribute-image
{
    float: left;
    margin-right: 0.5em;
    margin-left: 0;
}

div.block-type-3items div.separator
{
    height: 1px;
  
    margin: 0.75em 0 0.75em 0;
}

div.block-view-3_items2 div.class-article
{
     
    padding: 8px 12px 8px 12px;
    position: relative;
}

div.block-view-3_items2 div.class-article div.attribute-header h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    background-image: none;
    text-transform: none;
    padding: 0;
    margin-bottom: 0;
}

div.block-view-3_items2 div.attribute-image
{
    margin-top: 0.25em;
}

div.block-view-3_items3 div.class-article
{
    padding: 0;
    background-image: none;
    padding: 4px;
}

div.block-view-3_items3 div.class-article div.attribute-header h2
{
    background-image: none;
    text-transform: none;
    padding: 0;
    margin-bottom: 0.75em;
}

div.block-view-3_items3 div.attribute-image
{
    margin-top: 0;
    float: none;
}

div.block-type-video h3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
    color: #000000;
    background-image: none;
    text-transform: none;
    padding: 3px 0px 0px 16px;
    margin-bottom: 0;
   
}