
div.block-type-mainstory div.block-mainstory2 {


}

div.block-type-mainstory div.block-mainstory2 div.attribute-image{
    margin:0;
    background:none;
    padding:0;
    border:0;
    width:439px;
    border-bottom:3px solid rgba(0,0,0,0.5);
    
}

div.block-type-mainstory div.block-mainstory2 div.attribute-short{

}

div.block-type-mainstory div.block-mainstory2 div.attribute-header{
    padding:15px;
    margin:0;
    width:409px;
    position:absolute;
    background: rgba(0,0,0,0.5);
}
div.block-type-mainstory div.block-mainstory2 div.attribute-header a{
    color:white;
    text-decoration: none;
}
div.block-type-mainstory div.block-mainstory2 div.attribute-header a:hover{
    color:#bfcce0;
}