div#footer{
    clear: both; /* Ensures that the footer is pushed properly below the columns */
    text-align: center;
    width:900px;
    height:100px;
    background: rgba(0,0,0,0.5);
    color:white;
}


