div#header-position{
    float:left;
    clear:both;
    overflow:visible;
    width:100%;
    height:208px;
    background: url(../images/sfondi/header_background.png) repeat-y;
}

div#header{
    height:auto;
 }

div#header ul{
    margin: 0;
}

div#header ul li {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    display: inline;
    margin-left: 1em;
    background-image: none;
}
