div#user_links{
    width:100%;
    float:left;
}

div#links{
    float:right;
    text-align: right;
    font-size: 0.85em;
    font-weight: normal;
    background: rgba(0,0,0,0.5);
    padding-right:2em;
}
div#links ul li
{
   background-position: 0 0.5em;
    display:block;
    text-align:left;
    float:left;
  }

div#links a
{
    color: white;
    text-decoration: none;
}


div#links a:hover{
    color:#ffa;
}