div#path {
    font-size: 0.9em;
    color: white;
    height:30px;
    padding:0.2em 0 0.5em 0em;
    clear: both;
    font-weight: bold;
    background: rgba(0,0,0,0.2);
       
}

div#path p
{
    margin-left: 1em;
    margin-top:0.5em;
}

div#path a
{
    display: block;
    float: left;
    text-decoration: none;
    background-position: left bottom;
    padding: 0 0 1px 0;
    margin-right: 4px;
}

div#path span.path-separator
{
    display: block;
    font-weight:bold;
    float: left;
    margin-right: 4px;
    position:relative;
     }
     div#path span.path-text{
         color:#BAF956;
         text-shadow:1px 1px 1px black;
}