
div.message-confirmation, div.message-feedback, div.message-warning, div.message-error, div.warning
{
    margin: 0.5em 0 1em 0;
    padding: 0.5em 1em 0.5em 1em;
    border: 6px solid #4C6D4B;
    background-color: rgba(0,0,0,0.2);
    color:white;
    font-weight: bold;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

div.message-feedback
{
    border-color: #4C6D4B;
}

div.message-warning, div.warning
{
    border-color: #4C6D4B;
}

div.message-error
{
    border-color: #4C6D4B;
}