/* 
    Document   : dmsfolder
    Created on : Nov 28, 2009, 6:22:08 PM
    Author     : mosa
    Description:
    dmsfolder line view css
*/
div.content-view-line div.class-dmsfolder h2{
    height:4em;
    background:url(../images/icons/folder.png) no-repeat transparent;

}
div.content-view-line div.class-dmsfolder h2 a{
    position:relative;
    left:64px;
    top:35px;
    color:gray;
}