/* 
    Document   : event-calendar
    Created on : Dec 7, 2009, 9:19:19 AM
    Author     : mosa
    Description:
        Purpose of the stylesheet follows.
        event calendar line view style
*/

div.content-view-line  div.event-calendar-icon{

    background:#989898 url(../images/icons/calendar1.png) no-repeat center;

}

div.content-view-line  div.event-calendar-icon a{
    color:white;
}