/* 
    Document   : folder
    Created on : Nov 28, 2009, 8:10:00 PM
    Author     : mosa
    Description:
    folder line view
*/

div.content-view-children div.content-view-line div.class-folder{
    float:left;
    background:none;
    margin:0.1em;
}

div.content-view-children div.content-view-line div.class-folder h2{
    font-size:1.1em;
    padding-top:1em;
    position:absolute;
    margin-top:120px;
    padding-left:10px;
    padding-bottom:15px;
    width:170px;
    background:rgba(0,0,0,0.5);
   }

div.content-view-children div.content-view-line div.class-folder img{
    
}